@section Styles {
	<style type="text/css">
		._success {
			box-shadow: 0 15px 25px #00000019;
			padding: 15px;
			width: 100%;
			text-align: center;
			margin: 40px auto;
			border-bottom: solid 4px #28a745;
		}

			._success i {
				font-size: 55px;
				color: #28a745;
			}

			._success h2 {
				margin-bottom: 12px;
				font-size: 40px;
				font-weight: 500;
				line-height: 1.2;
				margin-top: 10px;
			}

			._success p {
				margin-bottom: 0px;
				font-size: 18px;
				color: #495057;
				font-weight: 500;
			}
			.grColor{
			color: white !important;
			font-weight: bold;
			background: #000444 !important;
		}
	</style>
}

<div class="col-lg-4 mx-auto">
	<div class="card">
		<div class="card-body p-0 auth-header-box">
			<div class="text-center p-3">
				<a asp-area="" asp-controller="Login" asp-action="Login" class="logo logo-admin">
					<img src="~/matrica/assets/images/logo-sm.png" height="50" alt="logo" class="auth-logo">
				</a>
				<h4 class="mt-3 mb-1 fw-semibold text-white font-18">Let's Get Started Aviv</h4>
				<p class="text-muted  mb-0">Click login to continue to Aviv</p>
			</div>
		</div>
			<div class="row">
				<div class="message-box _success">
					<i class="fa fa-check-circle" aria-hidden="true"></i>
					<h2> Your password was changed successfully </h2>
					<p class="mt-4">
						Click below link to Sign in
					</p>
					<a asp-area="" asp-controller="Login" asp-action="Login" class="btn btn-success my-4 grColor">Log in</a>
				</div>
		</div><!--end card-body-->
		<div class="card-body bg-light-alt text-start">
			&copy;<script>
					  document.write(new Date().getFullYear())
			</script>
			Urben Techies <span class="text-muted d-none d-sm-inline-block float-end"> Crafted with <i class="mdi mdi-heart text-danger"></i> by Aviv Solutions Inc </span>
		</div>
	</div>
</div><!--end card-body-->
@section Scripts {
	<script src="~/matrica/assets/libs/sweetalert2/sweetalert2.min.js"></script>
	<script src="~/matrica/assets/js/pages/sweet-alert.init.js"></script>
	<script type="text/javascript">
		
	</script>
}