@section Styles {
	<link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css" />
	<link href="~/matrica/assets/libs/vanillajs-datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css" />

	<style type="text/css">
		.table td {
			padding: 10px 0 0 5px !important;
		}
	</style>
}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane active show" id="" role="tabpanel" aria-labelledby="">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Inventory</h4>
									</div><!--end col-->
									<div class="col-auto">
										<button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-addNewInventory-modal-lg">Create Inventory</button>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="thead-light">
											<tr>
												<th>Date</th>
												<th>Reason</th>
												<th>Mode of Adjustment</th>
												<th>Action</th>
											</tr><!--end tr-->
										</thead>
										<tbody>
											<tr>
												<td>2024-11-01</td>
												<td>Quarterly Payment</td>
												<td>Cash</td>
												<td>
													<a href="#"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
										</tbody>
									</table>
								</div>
							</div><!--end card-body-->
						</div><!--end card-->
					</div>
				</div>
			</div>
		</div>
		<div id="mdlNewJob" class="modal fade bs-addNewInventory-modal-lg" tabindex="" role="dialog" aria-labelledby="myNIModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title mt-0" id="myNIModalLabel">Add Inventory</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row mt-2">
							<div class="col-lg-12">Mode Of adjustment <span class="text-danger">*</span></div>
						</div>
						<div class="row mt-4">
							<div class="col-lg-6">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="" id="" value="">
									<label class="form-check-label" for="">Quantity adjustment</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="" id="" value="">
									<label class="form-check-label" for="">Value adjustment</label>
								</div>
							</div>
							<div class="col-lg-6"></div>
						</div>
						<div class="row mt-4">
							<div class="col-lg-4">Reference number</div>
							<div class="col-lg-4">Date <span class="f-14 mr-1 text-danger">*</span></div>
							<div class="col-lg-4">Reason <span class="f-14 mr-1 text-danger">*</span></div>
						</div>
						<div class="row mt-2">
							<div class="col-lg-4">
								<input type="text" placeholder="" class="form-control" id="" required="">
							</div>
							<div class="col-lg-4"><input class="form-control mb-3 " type="text" name="foo"></div>
							<div class="col-lg-4">
									<div class="row">
										<div class="selectr-container selectr-desktop multiple" style="width: 100%;">
											<div class="selectr-options-container">
												<div class="selectr-input-container">
													<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
													<button class="selectr-input-clear" type="button"></button>
												</div>
												<div class="selectr-notice"></div>
												<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
											</div>
											<div class="selectr-container selectr-desktop multiple inverted" style="width: 100%;">
												<select id="multiSelect" multiple="" tabindex="" class="selectr-hidden multiSelectr" aria-hidden="true">
													<option value="">Reason 1</option>
													<option value="">Reason 2</option>
												</select>
											</div>
										</div>
									</div>
							</div>
						</div>
						<div class="col-lg-12 mt-2">Description</div>
						<div class="col-lg-12 mt-2">
							<textarea class="form-control" rows="5" id=""></textarea>
						</div>
						<div class="row mt-4">
							<div class="col-lg-6">
								<div class="row">
									<div class="selectr-container selectr-desktop multiple" style="width: 100%;">
										<div class="selectr-options-container">
											<div class="selectr-input-container">
												<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
												<button class="selectr-input-clear" type="button"></button>
											</div>
											<div class="selectr-notice"></div>
											<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
										</div>
										<div class="selectr-container selectr-desktop multiple inverted" style="width: 100%;">
											<select id="multiSelect" multiple="" tabindex="" class="selectr-hidden multiSelectr" aria-hidden="true">
												<option value="">Product 1</option>
												<option value="">Product 2</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6"></div>
						</div>
						<div class="col-lg-12 mt-4">Add Files</div>
						<div class="col-lg-12 mt-2">
							<div class="card-body">
								<div class="d-grid">
									<input type="file" id="input-file" name="input-file" accept="image/*" onchange="" hidden="">
									<label class="btn-upload btn btn-primary" for="input-file">Choose a file </label>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-primary mt-4"><b><i class="mdi mdi-check me-2"></i>Save</b></button>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div id="mdlSelectCompany" class="modal fade bs-addCompany-modal-lg" tabindex="" aria-labelledby="myCModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title mt-0" id="myCModalLabel">Select Company</h5>
					</div>
					<div class="modal-body">
						<div class="row mt-3 mb-2">
							<div class="col-lg-12">Select Company</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<select class="form-select" id="sltChooseCompany">
									<option value="0" selected="">Select Company</option>
									<option value="1">Company 1</option>
									<option value="2">Company 2</option>
								</select>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-lg-8"></div>
							<div class="col-lg-4 text-end">
								<button type="button" class="btn btn-primary" data-bs-dismiss="modal"><b><i class="mdi mdi-check me-2"></i>Ok</b></button>
							</div>
						</div>

					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
	</div>
	<!--end form-->
</div>

<!--end col-->
@section Scripts {
	<script src="~/matrica/assets/libs/mobius1-selectr/selectr.min.js"></script>
	<script src="~/matrica/assets/libs/vanillajs-datepicker/js/datepicker-full.min.js"></script>
	<script src="~/matrica/assets/js/pages/forms-advanced.js"></script>
	<script>
		$(window).on('load', function() {
			$('#mdlSelectCompany').modal({backdrop: 'static', keyboard: false});
			$('#mdlSelectCompany').modal('show');
		});
	</script>
}
