@section Styles {
	<link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css" />
	<link href="~/matrica/assets/libs/vanillajs-datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css" />

	<style type="text/css">
		.table td {
			padding: 10px 0 0 5px !important;
		}
	</style>
}
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-lg-2 col-lg-25">
				<div class="card-body">
					<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="toast-header border-0">
							<button type="button" class="btn-close ms-auto " data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
						<div class="toast-body  text-center">
							<img src="assets/images/users/user-5.jpg" alt="" class="d-block mx-auto rounded-circle thumb-md">
							<h5 class="fw-bold mt-3 mb-1">Charles Smith</h5>
							<p class="text-muted mb-0">UI/UX </p>
							<div class="mt-3 mb-2">
								<button type="button" class="btn btn-outline-primary btn-icon-circle btn-icon-circle-sm"><i class="fab fa-facebook-f"></i></button>
								<button type="button" class="btn btn-outline-info btn-icon-circle btn-icon-circle-sm"><i class="fab fa-twitter"></i></button>
								<button type="button" class="btn btn-outline-pink btn-icon-circle btn-icon-circle-sm"><i class="fab fa-dribbble"></i></button>
							</div>
						</div><!-- end toast-body -->
					</div><!--end toast-->
				</div>
			</div>
			<div class="col-lg-2 col-lg-25">
				<div class="card-body">
					<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="toast-header border-0">
							<button type="button" class="btn-close ms-auto " data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
						<div class="toast-body  text-center">
							<img src="assets/images/users/user-5.jpg" alt="" class="d-block mx-auto rounded-circle thumb-md">
							<h5 class="fw-bold mt-3 mb-1">Charles Smith</h5>
							<p class="text-muted mb-0">UI/UX front end developer</p>
							<div class="mt-3 mb-2">
								<button type="button" class="btn btn-outline-primary btn-icon-circle btn-icon-circle-sm"><i class="fab fa-facebook-f"></i></button>
								<button type="button" class="btn btn-outline-info btn-icon-circle btn-icon-circle-sm"><i class="fab fa-twitter"></i></button>
								<button type="button" class="btn btn-outline-pink btn-icon-circle btn-icon-circle-sm"><i class="fab fa-dribbble"></i></button>
							</div>
						</div><!-- end toast-body -->
					</div><!--end toast-->
				</div>
			</div>
			<div class="col-lg-2 col-lg-25">
				<div class="card-body">
					<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="toast-header border-0">
							<button type="button" class="btn-close ms-auto " data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
						<div class="toast-body  text-center">
							<img src="assets/images/users/user-5.jpg" alt="" class="d-block mx-auto rounded-circle thumb-md">
							<h5 class="fw-bold mt-3 mb-1">Charles Smith</h5>
							<p class="text-muted mb-0">UI/UX front end developer</p>
							<div class="mt-3 mb-2">
								<button type="button" class="btn btn-outline-primary btn-icon-circle btn-icon-circle-sm"><i class="fab fa-facebook-f"></i></button>
								<button type="button" class="btn btn-outline-info btn-icon-circle btn-icon-circle-sm"><i class="fab fa-twitter"></i></button>
								<button type="button" class="btn btn-outline-pink btn-icon-circle btn-icon-circle-sm"><i class="fab fa-dribbble"></i></button>
							</div>
						</div><!-- end toast-body -->
					</div><!--end toast-->
				</div>
			</div>
			<div class="col-lg-2 col-lg-25">
				<div class="card-body">
					<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="toast-header border-0">
							<button type="button" class="btn-close ms-auto " data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
						<div class="toast-body  text-center">
							<img src="assets/images/users/user-5.jpg" alt="" class="d-block mx-auto rounded-circle thumb-md">
							<h5 class="fw-bold mt-3 mb-1">Charles Smith</h5>
							<p class="text-muted mb-0">UI/UX front end developer</p>
							<div class="mt-3 mb-2">
								<button type="button" class="btn btn-outline-primary btn-icon-circle btn-icon-circle-sm"><i class="fab fa-facebook-f"></i></button>
								<button type="button" class="btn btn-outline-info btn-icon-circle btn-icon-circle-sm"><i class="fab fa-twitter"></i></button>
								<button type="button" class="btn btn-outline-pink btn-icon-circle btn-icon-circle-sm"><i class="fab fa-dribbble"></i></button>
							</div>
						</div><!-- end toast-body -->
					</div><!--end toast-->
				</div>
			</div>
			<div class="col-lg-2 col-lg-25">
				<div class="card-body">
					<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="toast-header border-0">
							<button type="button" class="btn-close ms-auto " data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
						<div class="toast-body  text-center">
							<img src="assets/images/users/user-5.jpg" alt="" class="d-block mx-auto rounded-circle thumb-md">
							<h5 class="fw-bold mt-3 mb-1">Charles Smith</h5>
							<p class="text-muted mb-0">UI/UX front end developer</p>
							<div class="mt-3 mb-2">
								<button type="button" class="btn btn-outline-primary btn-icon-circle btn-icon-circle-sm"><i class="fab fa-facebook-f"></i></button>
								<button type="button" class="btn btn-outline-info btn-icon-circle btn-icon-circle-sm"><i class="fab fa-twitter"></i></button>
								<button type="button" class="btn btn-outline-pink btn-icon-circle btn-icon-circle-sm"><i class="fab fa-dribbble"></i></button>
							</div>
						</div><!-- end toast-body -->
					</div><!--end toast-->
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane active show" id="" role="tabpanel" aria-labelledby="">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Bill</h4>
									</div><!--end col-->
									<div class="col-auto">
										<button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-addNewBill-modal-lg">Create Bill</button>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="thead-light">
											<tr>
												<th>Purchase Bill Number</th>
												<th>Vendor</th>
												<th>Bill Date</th>
												<th>Total</th>
												<th>Status</th>
												<th>Action</th>
											</tr><!--end tr-->
										</thead>
										<tbody>
											<tr>
												<td>PB#001</td>
												<td>Vendor 1</td>
												<td>2024-11-01</td>
												<td>5000</td>
												<td>Yes</td>
												<td>
													<a href="#"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
										</tbody>
									</table>
								</div>
							</div><!--end card-body-->
						</div><!--end card-->
					</div>
				</div>
			</div>
		</div>
		<div id="mdlNewJob" class="modal fade bs-addNewBill-modal-lg" tabindex="" role="dialog" aria-labelledby="myNBModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title mt-0" id="myNBModalLabel">Bill Details</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row mt-4">
							<div class="col-lg-3">Bill Number <span class="text-danger">*</span></div>
							<div class="col-lg-3">Select Vendor</div>
							<div class="col-lg-3">
								Bill Date
							</div>
							<div class="col-lg-3">
								Purchase Order
							</div>
						</div>

						<div class="row mt-2">
							<div class="col-lg-3">
								<div class="input-group">
									<div class="input-group-prepend  height-35 ">
										<span class="input-group-text border-grey f-15 bg-additional-grey px-3 text-dark" id="basic-addon1">PB#00</span>
									</div>
									<input type="text" name="bill_number" id="bill_number" class="form-control height-35 f-15" value="1 " placeholder="0019" aria-label="0019" aria-describedby="basic-addon1" autocomplete="off">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="row">
									<div class="selectr-container selectr-desktop multiple" style="width: 100%;">
										<div class="selectr-options-container">
											<div class="selectr-input-container">
												<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
												<button class="selectr-input-clear" type="button"></button>
											</div>
											<div class="selectr-notice"></div>
											<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
										</div>
										<div class="selectr-container selectr-desktop multiple inverted" style="width: 100%;">
											<select id="multiSelect" multiple="" tabindex="" class="selectr-hidden multiSelectr" aria-hidden="true">
												<option value="">Vendor 1</option>
												<option value="">Vendor 2</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<input class="form-control mb-3 " type="text" name="foo">
							</div>
							<div class="col-lg-3">
								<div class="row">
									<div class="selectr-container selectr-desktop multiple" style="width: 100%;">
										<div class="selectr-options-container">
											<div class="selectr-input-container">
												<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
												<button class="selectr-input-clear" type="button"></button>
											</div>
											<div class="selectr-notice"></div>
											<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
										</div>
										<div class="selectr-container selectr-desktop multiple inverted" style="width: 100%;">
											<select id="multiSelect" multiple="" tabindex="" class="selectr-hidden multiSelectr" aria-hidden="true">
												<option value="">PB#001</option>
												<option value="">PB#002</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-lg-6">Note for the recipient</div>
							<div class="col-lg-6"></div>
						</div>
						<div class="row mt-2">
							<div class="col-lg-6">
								<textarea class="form-control" placeholder="e.g. Thank you for your business" rows="5" id=""></textarea>
							</div>
							<div class="col-lg-6"></div>
						</div>
						<button type="button" class="btn btn-primary mt-4"><b><i class="mdi mdi-check me-2"></i>Save</b></button>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div id="mdlSelectCompany" class="modal fade bs-addCompany-modal-lg" tabindex="" aria-labelledby="myCModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title mt-0" id="myCModalLabel">Select Company</h5>
					</div>
					<div class="modal-body">
						<div class="row mt-3 mb-2">
							<div class="col-lg-12">Select Company</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<select class="form-select" id="sltChooseCompany">
									<option value="0" selected="">Select Company</option>
									<option value="1">Company 1</option>
									<option value="2">Company 2</option>
								</select>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-lg-8"></div>
							<div class="col-lg-4 text-end">
								<button type="button" class="btn btn-primary" data-bs-dismiss="modal"><b><i class="mdi mdi-check me-2"></i>Ok</b></button>
							</div>
						</div>

					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
	</div>
	<!--end form-->
</div>

<!--end col-->
@section Scripts {
	<script src="~/matrica/assets/libs/mobius1-selectr/selectr.min.js"></script>
	<script src="~/matrica/assets/libs/vanillajs-datepicker/js/datepicker-full.min.js"></script>
	<script src="~/matrica/assets/js/pages/forms-advanced.js"></script>
	<script src="~/matrica/assets/js/pages/toast.init.js"></script>
	<script>
		$(window).on('load', function() {
			$('#mdlSelectCompany').modal({backdrop: 'static', keyboard: false});
			$('#mdlSelectCompany').modal('show');
		});

				tinymce.init({
		  selector: 'textarea#txtDescription'
		});

	</script>
}
