@section Styles {
	<link href="~/matrica/assets/libs/huebee/huebee.min.css" rel="stylesheet" type="text/css" />
	<link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css" />
}
<div class="row">
	<div class="col-12 col-lg-12">
		<div class="card">
			<div class="card-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#tbGeneralSettings" role="tab">General Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbFooterSettings" role="tab">Footer Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbRecruiterSettings" role="tab">Recruiter Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbNotfnSettings" role="tab">Notification Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbJobApplnStatusSettings" role="tab">Job Application Status Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbCustomQnSettings" role="tab">Custom Question Settings</a>
					</li>
				</ul>
			</div><!--end card-body-->
			<div class="card-body pt-0">
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active show" id="tbGeneralSettings" role="tabpanel">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">General Index</h4>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="row">
									<div class="col-lg-4 mt-2">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="reqShiftChange" data-parsley-multiple="" data-parsley-mincheck="2">
											<label class="custom-control-label labelcustom" for="reqShiftChange">Enable Career Site <i class="fa fa-question-circle" aria-hidden="true"></i></label>
										</div>
									</div>
									<div class="col-lg-4 mt-2">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="clockInLocation" data-parsley-multiple="" data-parsley-mincheck="2">
											<label class="custom-control-label labelcustom" for="clockInLocation">Google Recaptchas <i class="fa fa-question-circle" aria-hidden="true"></i></label>
										</div>
									</div>
									<div class="col-lg-4 mt-2">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="clockInOutShift" data-parsley-multiple="" data-parsley-mincheck="2">
											<label class="custom-control-label labelcustom" for="clockInOutShift">Job Alert <i class="fa fa-question-circle" aria-hidden="true"></i></label>
										</div>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-lg-4">Company Name</div>
									<div class="col-lg-4">Company Website</div>
									<div class="col-lg-4">Company Logo <i class="fa fa-question-circle" aria-hidden="true"></i></div>
								</div>
								<div class="row mt-2">
									<div class="col-lg-4"><input type="text" placeholder="e.g. Acme Corporation" class="form-control" id="txtClientId"></div>
									<div class="col-lg-4"><input type="text" placeholder="e.g. https://www.spacex.com/" class="form-control" id="txtClientId"></div>
									<div class="col-lg-4">
										<input type="file" id="input-file" name="input-file" accept="image/*" onchange="" hidden="">
										<label class="btn-upload btn btn-primary" for="input-file">Upload </label>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-lg-12">About Company</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<textarea class="form-control" placeholder="" rows="5" id=""></textarea>
										@* <div class="card-body">
											<textarea id="txtAbtCompany">Hello, World!</textarea>
										</div> *@
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-lg-12">
										Legal Term Text
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<textarea class="form-control" placeholder="" rows="5" id=""></textarea>
										@* <div class="card-body">
											<textarea id="txtLegalTerms">Hello, World!</textarea>
										</div> *@
									</div>
								</div>

								<div class="row">
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Email</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Phone</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Calendar</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Total Experience</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Current Location</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Current CTC</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Expected CTC</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Notice Period</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Source</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Status</label>
										</div>
									</div>
									<div class="col-lg-2">
										<div class="custom-control custom-checkbox mt-4 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom" id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Cover Letter</label>
										</div>
									</div>
									<div class="col-lg-2">
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-lg-6">
										Duplicate Job Application Restriction (In days)<span class="text-danger"> *</span> <i class="fa fa-question-circle" aria-hidden="true"></i>
									</div>
									<div class="col-lg-6">Offer Letter Reminder To Candidate(In days)<span class="text-danger"> *</span> <i class="fa fa-question-circle" aria-hidden="true"></i></div>
								</div>
								<div class="row mt-2">
									<div class="col-lg-6"><input class="form-control" type="number" value="" id=""></div>
									<div class="col-lg-6"><input class="form-control" type="number" value="" id=""></div>
								</div>
								<div class="row mt-4">
									<div class="col-lg-12">
										<input class="form-check-input" type="radio" name="BackgroundOptions" id="ipBgImage" value="Background Image">
										<label class="form-check-label me-5" for="ipBgImage">Background Image</label>
										<input class="form-check-input" type="radio" name="BackgroundOptions" id="ipBgColor" value="Background Color">
										<label class="form-check-label" for="ipBgColor">Background Color</label>
									</div>
								</div>
								<div id="divBackroundImage" style="display:none;">
									<div class="row mt-4">
										<div class="col-lg-12">Background Image (Idle Size 1120 * 200 )</div>
									</div>
									<div class="row col-lg-12 mt-2">
										<div class="card">
											<div class="card-body">
												<div class="d-grid">
													<p class="text-muted">Please click "Upload" Button to upload your Background Image</p>
													<input type="file" id="input-file" name="input-file" accept="image/*" onchange="" hidden="">
													<label class="btn-upload btn btn-primary" for="input-file">Upload </label>
												</div>
											</div><!--end card-body-->
										</div>
									</div>
								</div>
								<div id="divBackroundColor" style="display:none;">
									<div class="row mt-4">
										<div class="col-lg-12">
											Background Color <span class="text-danger">*</span>
										</div>
									</div>
									<div class="row col-lg-12 mt-2">
										<input id="" class="form-control" value="#f7f8f9" data-huebee="{ &quot;setBGColor&quot;: true, &quot;saturations&quot;: 2 }" style="background-color: rgb(247, 248, 249); color: rgb(34, 34, 34);">
									</div>
								</div>
								<button type="button" class="btn btn-de-primary mt-2 float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>
							</div>
						</div><!--end card-body-->
					</div>

					<div class="tab-pane" id="tbFooterSettings" role="tabpanel" style="margin-left: 20%;">
						<div class="card" style="">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Footer Index</h4>
									</div><!--end col-->
									<div class="col-auto">
										<button type="button" class="btn btn-de-primary" data-bs-toggle="modal"
												data-animation="bounce" data-bs-target=".bs-addNewFooterSource-modal-lg">
											<i class="fas fa-plus me-2"></i>Add Footer Link
										</button>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="thead-light">
											<tr>
												<th>Title</th>
												<th>Description</th>
												<th>Status</th>
												<th>Action</th>
											</tr><!--end tr-->
										</thead>

										<tbody>
											<tr>
												<td>Footer Test</td>
												<td>FooterTest Description</td>
												<td>Active</td>
												<td>
													<a data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditFooterSource-modal-lg" href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
										</tbody>
									</table>
								</div>
							</div><!--end card-body-->
						</div>
					</div>
					<div id="mdlFooterLink" class="modal fade bs-addNewFooterSource-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myNFSModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myNFSModalLabel">Footer Link Setup</h5>
									@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
								</div>
								<div class="modal-body">
									<form>
										<div class="row mt-3 mb-2">
											<div class="col-lg-4">Title <span class="text-danger">*</span></div>
											<div class="col-lg-4">Slug <span class="text-danger">*</span></div>
											<div class="col-lg-4">Status</div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-lg-4"><input class="form-control" type="text" value="" id="reminderAftrMns"></div>
											<div class="col-lg-4"><input class="form-control" type="text" value="" id="reminderAftrMns"></div>
											<div class="col-lg-4">
												<select id="sltCheck" class="form-select" aria-label="">
													<option selected="" value="">--</option>
													<option value="1"> Active </option>
													<option value="2"> Inactive </option>
												</select>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-lg-12">Description</div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-12">
												<div class="row">
													<div class="col-lg-12">
														@* <textarea id="txtfooterDescription">Hello, World!</textarea> *@
														<textarea class="form-control" placeholder="" rows="5" id=""></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-4 text-end ">
											<div class="col-lg-12 ">
												<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
												<button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<div id="mdlEditFooterLink" class="modal fade bs-addEditFooterSource-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myEFLModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myEFLModalLabel">Footer Link Setup</h5>
									@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
								</div>
								<div class="modal-body">
									<form>
										<div class="row mt-3 mb-2">
											<div class="col-lg-4">Title <span class="text-danger">*</span></div>
											<div class="col-lg-4">Slug <span class="text-danger">*</span></div>
											<div class="col-lg-4">Status</div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-lg-4"><input class="form-control" type="text" value="Footer Test" id="reminderAftrMns"></div>
											<div class="col-lg-4"><input class="form-control" type="text" value="" id="reminderAftrMns"></div>
											<div class="col-lg-4">
												<select id="sltCheck" class="form-select" aria-label="">
													<option value="">--</option>
													<option value="1" selected="selected"> Active </option>
													<option value="2"> Inactive </option>
												</select>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-lg-12">Description</div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-12">
												<div class="row">
													<div class="col-lg-12">
														@* <textarea id="txtfooterDescription">Hello, World!</textarea> *@
														<textarea class="form-control" placeholder="" rows="5" id="">FooterTest Description</textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-4 text-end ">
											<div class="col-lg-12 ">
												<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
												<button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<div class="tab-pane" id="tbRecruiterSettings" role="tabpanel" style="margin-left: 20%;">
						<div class="card" style="">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Recruiter Index</h4>
									</div><!--end col-->
									<div class="col-auto">
										<button type="button" class="btn btn-de-primary" data-bs-toggle="modal"
												data-animation="bounce" data-bs-target=".bs-addNewRecruiter-modal-lg">
											<i class="fas fa-plus me-2"></i>Add Recruiter
										</button>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="thead-light">
											<tr>
												<th>Name</th>
												<th>Status</th>
												<th>Action</th>
											</tr><!--end tr-->
										</thead>

										<tbody>
											<tr>
												<td>John</td>
												<td>Enabled</td>
												<td>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
										</tbody>
									</table>
								</div>
							</div><!--end card-body-->
						</div>
					</div>
					<div id="mdlAddNewRecruiter" class="modal fade bs-addNewRecruiter-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myNRSModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myNRSModalLabel">Recruiter Setup</h5>
									@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
								</div>
								<div class="modal-body">
									<form>
										<div class="row mt-3 mb-2">
											<div class="col-lg-12">Recruiter <span class="text-danger">*</span></div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<select id="sltNewRecruiter" class="form-select" aria-label="">
													<option selected="" value="">--</option>
													<option value="1"> John </option>
													<option value="2"> Doel </option>
												</select>
											</div>
										</div>
										<div class="row mt-4 text-end ">
											<div class="col-lg-12 ">
												<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
												<button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<div class="tab-pane" id="tbNotfnSettings" role="tabpanel">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Notification Index</h4>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="row">
									<h4 style="padding: 0px;">
										Mail Settings
									</h4>
								</div>
								<div class="row">
									<label>Send mail when application status changes to <i class="fa fa-question-circle" aria-hidden="true"></i></label>
								</div>
								<div class="row">
									<div class="col-md-2 col-md-25">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Applied</label>
										</div>
									</div>
									<div class="col-md-2 col-md-25">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Phone Screen</label>
										</div>
									</div>
									<div class="col-md-2 col-md-25">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Interview</label>
										</div>
									</div>
									<div class="col-md-2 col-md-25">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Hired</label>
										</div>
									</div>
									<div class="col-md-2 col-md-25">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Rejected</label>
										</div>
									</div>
								</div>
								<div class="row mt-4">
									<h4 style="padding: 0px;">
										Email Notification Settings
									</h4>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">New Job (Added by Admin)</label>
										</div>
									</div>
									<div class="col-md-4">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">New Job Application(Added by Admin)</label>
										</div>
									</div>
									<div class="col-md-4">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">New Interview Schedule (Added by Admin)</label>
										</div>
									</div>
								</div>
								<div class="row">

									<div class="col-md-4">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">New Offer Letter (Added by Admin)</label>
										</div>
									</div>
									<div class="col-md-4">
										<div class="custom-control custom-checkbox mt-2 mb-2">
											<input type="checkbox" class="form-check-input form-check-input-custom"
												   id="" data-parsley-multiple="" data-parsley-mincheck="">
											<label class="custom-control-label labelcustom" for="">Notifications to Recruiter</label>
										</div>
									</div>
									<div class="col-md-4">
									</div>



								</div>
								<button type="button" class="btn btn-de-primary mt-4 float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>
							</div><!--end card-body-->
						</div>
					</div>

					<div class="tab-pane" id="tbJobApplnStatusSettings" role="tabpanel">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Job Application Status Index</h4>
									</div><!--end col-->
									<div class="col-auto">
										<button type="button" class="btn btn-de-primary" data-bs-toggle="modal"
												data-animation="bounce" data-bs-target=".bs-addJobApplnStatus-modal-lg">
											<i class="fas fa-plus me-2"></i>Add Status
										</button>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="thead-light">
											<tr>
												<th>Name</th>
												<th>Category</th>
												<th>Label Color</th>
												<th>Position</th>
												<th>Apply model actions</th>
												<th>Action</th>
											</tr><!--end tr-->
										</thead>

										<tbody>
											<tr>
												<td>applied</td>
												<td>applied</td>
												<td>#2b2b2b</td>
												<td>1</td>
												<td>yes</td>
												<td>
													<a href="#" data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditStatus-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
											<tr>
												<td>phone screen</td>
												<td>shortlist</td>
												<td>#f1e52e</td>
												<td>2</td>
												<td>yes</td>
												<td>
													<a href="#" data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditStatus-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
											<tr>
												<td>interview</td>
												<td>interview</td>
												<td>#3d8ee8</td>
												<td>3</td>
												<td>yes</td>
												<td>
													<a href="#" data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditStatus-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
											<tr>
												<td>hired</td>
												<td>hired</td>
												<td>#2b2b2b</td>
												<td>4</td>
												<td>yes</td>
												<td>
													<a href="#" data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditStatus-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
											<tr>
												<td>rejected</td>
												<td>rejected</td>
												<td>#ee1127</td>
												<td>5</td>
												<td>yes</td>
												<td>
													<a href="#" data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditStatus-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->

										</tbody>
									</table>
								</div>
							</div><!--end card-body-->
						</div>
					</div>
					<div id="mdlAddStatusColumn" class="modal fade bs-addJobApplnStatus-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myNJASModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myNJASModalLabel">Status Setup</h5>
									@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
								</div>
								<div class="modal-body">
									<form>
										<div class="row mt-2">
											<div class="col-lg-6">Category <span class="text-danger">*</span></div>
											<div class="col-lg-6">Status <span class="text-danger">*</span></div>
										</div>
										<div class="row mt-2">
											<div class="col-lg-6">
												<select id="sltCategory" class="form-select" aria-label="">
													<option selected="" value="">--</option>
													<option value="1"> Applied </option>
													<option value="2"> Shortlist </option>
													<option value="3"> Interview </option>
													<option value="4"> Hired </option>
													<option value="5"> Rejected </option>
													<option value="6"> Others </option>
												</select>
											</div>
											<div class="col-lg-6"><input type="text" placeholder="" class="form-control" id=""></div>
										</div>
										<div class="row mt-4">
											<div class="col-lg-6">Label Color <span class="text-danger">*</span></div>
											<div class="col-lg-6">Position</div>
										</div>
										<div class="row mt-2">
											<div class="col-lg-6">
												<input id="" class="form-control" value="#f7f8f9" data-huebee="{ &quot;setBGColor&quot;: true, &quot;saturations&quot;: 2 }" style="background-color: rgb(247, 248, 249); color: rgb(34, 34, 34);">
											</div>
											<div class="col-lg-6">
												<select id="sltCategory" class="form-select" aria-label="">
													<option selected="" value="">--</option>
													<option value="1"> Before Applied </option>
													<option value="2"> After Applied </option>
													<option value="3"> After Phone Screen </option>
													<option value="4"> After Interview </option>
													<option value="5"> After Hired </option>
													<option value="6"> After Rejected </option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 custom-control custom-checkbox mt-2 mb-2">
												<input type="checkbox" class="form-check-input form-check-input-custom" id="firstSignLoc" data-parsley-multiple="" data-parsley-mincheck="2">
												<label class="custom-control-label labelcustom" for="firstSignLoc">Apply model actions</label>
											</div>
										</div>
										<div class="row mt-4 text-end ">
											<div class="col-lg-12 ">
												<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
												<button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<div id="mdlAddEditStatusColumn" class="modal fade bs-addEditStatus-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myEStatusModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myEStatusModalLabel">Status Setup</h5>
									@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
								</div>
								<div class="modal-body">
									<form>
										<div class="row mt-2">
											<div class="col-lg-6">Category <span class="text-danger">*</span></div>
											<div class="col-lg-6">Status <span class="text-danger">*</span></div>
										</div>
										<div class="row mt-2">
											<div class="col-lg-6">
												<select id="sltCategory" class="form-select" aria-label="">
													<option value="">--</option>
													<option value="1" selected="selected"> Applied </option>
													<option value="2"> Shortlist </option>
													<option value="3"> Interview </option>
													<option value="4"> Hired </option>
													<option value="5"> Rejected </option>
													<option value="6"> Others </option>
												</select>
											</div>
											<div class="col-lg-6"><input type="text" placeholder="" class="form-control" id=""></div>
										</div>
										<div class="row mt-4">
											<div class="col-lg-6">Label Color <span class="text-danger">*</span></div>
											<div class="col-lg-6">Position</div>
										</div>
										<div class="row mt-2">
											<div class="col-lg-6">
												<input id="" class="form-control" value="#f7f8f9" data-huebee="{ &quot;setBGColor&quot;: true, &quot;saturations&quot;: 2 }" style="background-color: rgb(247, 248, 249); color: rgb(34, 34, 34);">
											</div>
											<div class="col-lg-6">
												<select id="sltCategory" class="form-select" aria-label="">
													<option value="">--</option>
													<option value="1" selected="selected"> Before Applied </option>
													<option value="2"> After Applied </option>
													<option value="3"> After Phone Screen </option>
													<option value="4"> After Interview </option>
													<option value="5"> After Hired </option>
													<option value="6"> After Rejected </option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 custom-control custom-checkbox mt-2 mb-2">
												<input type="checkbox" checked="checked" class="form-check-input form-check-input-custom" id="firstSignLoc" data-parsley-multiple="" data-parsley-mincheck="2">
												<label class="custom-control-label labelcustom" for="firstSignLoc">Apply model actions</label>
											</div>
										</div>
										<div class="row mt-4 text-end ">
											<div class="col-lg-12 ">
												<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
												<button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<div class="tab-pane" id="tbCustomQnSettings" role="tabpanel">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col">
										<h4 class="card-title">Custom Question Index</h4>
									</div><!--end col-->
									<div class="col-auto">
										<button type="button" class="btn btn-de-primary" data-bs-toggle="modal"
												data-animation="bounce" data-bs-target=".bs-addNewCustomQn-modal-lg">
											<i class="fas fa-plus me-2"></i>Add Question
										</button>
									</div><!--end col-->
								</div>  <!--end row-->
							</div><!--end card-header-->
							<div class="card-body">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="thead-light">
											<tr>
												<th>Question</th>
												<th>Category</th>
												<th>Type</th>
												<th>Is Required</th>
												<th>Status</th>
												<th>Action</th>
											</tr><!--end tr-->
										</thead>

										<tbody>
											<tr>
												<td>Sample Question 1</td>
												<td>Job Application</td>
												<td>Select</td>
												<td>Yes</td>
												<td>Enabled</td>
												<td>
													<a href="#" data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditCustomQn-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
											<tr>
												<td>Sample Question 2</td>
												<td>Job Application</td>
												<td>Password</td>
												<td>Yes</td>
												<td>Enabled</td>
												<td>
													<a href="#" data-bs-toggle="modal"
													   data-animation="bounce" data-bs-target=".bs-addEditCustomQn-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
													<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
												</td>
											</tr><!--end tr-->
										</tbody>
									</table>
								</div>
							</div><!--end card-body-->
						</div>
					</div>
					<div id="mdlAddQuestion" class="modal fade bs-addNewCustomQn-modal-lg" tabindex="" role="dialog" aria-labelledby="myNCQModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myNCQModalLabel">Question Setup</h5>
									@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
								</div>
								<div class="modal-body">
									<form>
										<div class="row mt-3 mb-2">
											<div class="col-lg-6">Category</div>
											<div class="col-lg-6">Question <span class="text-danger">*</span></div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-6">
												<select id="sltAddQnCategory" class="form-select" aria-label="">
													<option selected="" value="">--</option>
													<option value="1"> Job Application </option>
													<option value="2"> Job Offer </option>
												</select>
											</div>
											<div class="col-lg-6"><input class="form-control" type="text" value="" id=""></div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-lg-6">Status</div>
											<div class="col-lg-6">Is Required</div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-6">
												<select id="sltAddQnStatus" class="form-select" aria-label="">
													<option selected="" value="">--</option>
													<option value="1"> Enable </option>
													<option value="2"> Disable </option>
												</select>
											</div>
											<div class="col-lg-6 mt-2">
												<input class="form-check-input" type="radio" name="QnReqOptions" id="ipQnRequiredYes" value="">
												<label class="form-check-label me-2" for="ipQnRequiredYes">Yes</label>
												<input class="form-check-input" type="radio" name="QnReqOptions" id="ipQnRequiredNo" value="">
												<label class="form-check-label" for="ipQnRequiredNo">No</label>
											</div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-lg-12">Type</div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-12">
												<select id="sltAddQnType" class="form-select" aria-label="">
													<option selected="" value="">--</option>
													<option value="1"> text </option>
													<option value="2"> number </option>
													<option value="3"> password </option>
													<option value="4"> textarea </option>
													<option value="5"> select </option>
													<option value="6"> radio </option>
												</select>
											</div>
										</div>
										<div class="row mt-4 text-end ">
											<div class="col-lg-12 ">
												<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
												<button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<div id="mdlAddEditQuestion" class="modal fade bs-addEditCustomQn-modal-lg" tabindex="" role="dialog" aria-labelledby="myECQModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title mt-0" id="myECQModalLabel">Question Setup</h5>
									@* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
								</div>
								<div class="modal-body">
									<form>
										<div class="row mt-3 mb-2">
											<div class="col-lg-6">Category</div>
											<div class="col-lg-6">Question <span class="text-danger">*</span></div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-6">
												<select id="sltAddQnCategory" class="form-select" aria-label="">
													<option value="">--</option>
													<option value="1" selected="selected"> Job Application </option>
													<option value="2"> Job Offer </option>
												</select>
											</div>
											<div class="col-lg-6"><input class="form-control" type="text" value="Sample Question 1" id=""></div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-lg-6">Status</div>
											<div class="col-lg-6">Is Required</div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-6">
												<select id="sltAddQnStatus" class="form-select" aria-label="">
													<option value="">--</option>
													<option value="1" selected="selected"> Enable </option>
													<option value="2"> Disable </option>
												</select>
											</div>
											<div class="col-lg-6 mt-2">
												<input class="form-check-input" checked="checked" type="radio" name="QnReqOptions" id="ipQnRequiredYes" value="">
												<label class="form-check-label me-2" for="ipQnRequiredYes">Yes</label>
												<input class="form-check-input" type="radio" name="QnReqOptions" id="ipQnRequiredNo" value="">
												<label class="form-check-label" for="ipQnRequiredNo">No</label>
											</div>
										</div>
										<div class="row mt-3 mb-2">
											<div class="col-lg-12">Type</div>
										</div>
										<div class="row mb-2">
											<div class="col-lg-12">
												<select id="sltAddQnType" class="form-select" aria-label="">
													<option value="">--</option>
													<option value="1"> text </option>
													<option value="2"> number </option>
													<option value="3"> password </option>
													<option value="4"> textarea </option>
													<option value="5" selected="selected"> select </option>
													<option value="6"> radio </option>
												</select>
											</div>
										</div>
										<div class="row mt-4 text-end ">
											<div class="col-lg-12 ">
												<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
												<button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>
			</div>
		</div><!--end card-body-->
	</div><!--end card-->
</div>
<!--end row-->
@section Scripts {
	<script src="~/matrica/assets/libs/huebee/huebee.pkgd.min.js"></script>
	@* <script src="~/matrica/assets/libs/tinymce/tinymce.min.js"></script>
	<script src="~/matrica/assets/js/pages/form-editor.init.js"></script>  *@
	@* <script>
		tinymce.init({
		  selector: 'textarea#txtAbtCompany'
		});
		tinymce.init({
		  selector: 'textarea#txtLegalTerms'
		});
		tinymce.init({
		  selector: 'textarea#txtfooterDescription'
		});
	</script> *@
	<script type="text/javascript">
		$(document).ready(function() {
		  $("input[id$='ipBgImage']").click(function() {
			 $("#divBackroundImage").css("display", "block");
			 $("#divBackroundColor").css("display", "none");
		  });
		 $("input[id$='ipBgColor']").click(function() {
			 $("#divBackroundColor").css("display", "block");
			 $("#divBackroundImage").css("display", "none");
		  });
		  });

		 $(window).on('load', function() {
		 $('#mdlFooterLink').modal({backdrop: 'static', keyboard: false});
		 $('#mdlAddNewRecruiter').modal({backdrop: 'static', keyboard: false});
		 $('#mdlAddStatusColumn').modal({backdrop: 'static', keyboard: false});
		 $('#mdlAddQuestion').modal({backdrop: 'static', keyboard: false});

		 $('#mdlEditFooterLink').modal({backdrop: 'static', keyboard: false});
		 $('#mdlAddEditStatusColumn').modal({backdrop: 'static', keyboard: false});
		 $('#mdlAddEditQuestion').modal({backdrop: 'static', keyboard: false});

		});
	</script>
}