
@section Styles {
    <link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css">
    <link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css">
    
}
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h4 class="card-title">Broadcast Index</h4>
                </div>
                <div class="col-lg-6 text-end">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#BAddress"><i class="fas fa-plus me-2"></i>Add Broadcast</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="row">
                    <div class="col=md-12 ">
                        <div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="BAddressLabel">Broadcast Setup</h6>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12 mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom me-2" type="checkbox" id="checkb" data-target="textb" value="1" >
                                                            <label class="form-check-label mt-1" for="dynamic-checkbox">To Employee</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12 mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom me-2" type="checkbox" id="checkbox1" data-target="textbox1" value="1" >
                                                            <label class="form-check-label mt-1" for="dynamic-checkbox">To Client</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Notice Heading<span class="f-14 mr-1 text-danger">*</span>
                                                    </label>

                                                    <input type="text" class="form-control mt-2" id="inlineFormInputGroupUsername" value="" placeholder="Username">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="textbox-container" id="textbox1" style="display: none;">
                                                        <label for="example-text-input">
                                                            Client Category
                                                            <span class="f-14 mr-1 text-danger">*</span>
                                                        </label>
                                                        <div class="selectr-container selectr-desktop multiple mt-2" style="width: 100%;">
                                                            <div class="selectr-options-container">
                                                                <div class="selectr-input-container">
                                                                    <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                    <button class="selectr-input-clear" type="button"></button>
                                                                </div>
                                                                <div class="selectr-notice"></div>
                                                                <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                            </div>
                                                            <select id="multiSelect" multiple="" tabindex="-1" class="selectr-hidden multiSelectr" aria-hidden="true">
                                                                <option value="value-1">Contract</option>
                                                                <option value="value-2">Permanent</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 mb-3 text-start">
                                                <label for="notes">
                                                    Notice Details
                                                </label>
                                                <textarea id="" aria-hidden="true" class="form-control mt-2" rows="5"></textarea>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom me-2" type="checkbox" id="checkbox3" data-target="textbox3" value="1">
                                                            <label class="form-check-label mt-1" for="dynamic-checkbox">Public Notice</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end card-body-->
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-lg-12 text-end">
                                                <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                                <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
                                            </div>
                                        </div>
                                    </div><!--end modal-footer-->
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>

                <div class="row">
                    <div class="col=md-12 ">
                        <div class="modal fade" id="ENoti" tabindex="-1" aria-labelledby="ENotiLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="ENotiLabel">Edit Broadcast Details</h6>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12 mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom me-2" type="checkbox" id="checkb" data-target="textb" value="1"checked>
                                                            <label class="form-check-label mt-1" for="dynamic-checkbox">To Employee</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12 mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom me-2" type="checkbox" id="checkbox1" data-target="textbox1" value="1">
                                                            <label class="form-check-label mt-1" for="dynamic-checkbox">To Client</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Notice Heading<span class="f-14 mr-1 text-danger">*</span>
                                                    </label>

                                                    <input type="text" class="form-control mt-2" id="inlineFormInputGroupUsername" value="Rescheduled" placeholder="Username">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="textbox-container" id="textbox1" style="display: none;">
                                                        <label for="example-text-input">
                                                            Client Category
                                                            <span class="f-14 mr-1 text-danger">*</span>
                                                        </label>
                                                        <div class="selectr-container selectr-desktop multiple mt-2" style="width: 100%;">
                                                            <div class="selectr-options-container">
                                                                <div class="selectr-input-container">
                                                                    <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                    <button class="selectr-input-clear" type="button"></button>
                                                                </div>
                                                                <div class="selectr-notice"></div>
                                                                <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                            </div>
                                                            <select id="multiSelect" multiple="" tabindex="-1" class="selectr-hidden multiSelectr" aria-hidden="true">
                                                                <option value="value-1">Contract</option>
                                                                <option value="value-2">Permanent</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 mb-3 text-start">
                                                <label for="notes">
                                                    Notice Details
                                                </label>
                                                <textarea id="" aria-hidden="true" class="form-control mt-2" rows="5">Meeting rescheduled to 3 PM</textarea>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom me-2" type="checkbox" id="checkbox3" data-target="textbox3" value="1"checked>
                                                            <label class="form-check-label mt-1" for="dynamic-checkbox">Public Notice</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end card-body-->
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-lg-12 text-end">
                                                <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                                <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Update</button>
                                            </div>
                                        </div>
                                    </div><!--end modal-footer-->
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>Notice</th>
                                <th>Date</th>
                                <th>To</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Meeting rescheduled to 3 PM</td>
                                <td>2024-12-01</td>
                                <td>Employees</td>
                                <td>
                                    <a href="#" data-bs-target="#ENoti" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Office closed on Christmas Eve</td>
                                <td>2024-12-02</td>
                                <td>Employees</td>
                                <td>
                                    <a href="#" data-bs-target="#ENoti" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Submit project reports by Friday</td>
                                <td>2024-12-03</td>
                                <td>Project Managers</td>
                                <td>
                                    <a href="#" data-bs-target="#ENoti" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Annual performance review reminders</td>
                                <td>2024-12-04</td>
                                <td>HR Department</td>
                                <td>
                                    <a href="#" data-bs-target="#ENoti" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>New software rollout training</td>
                                <td>2024-12-05</td>
                                <td>IT Team</td>
                                <td>
                                    <a href="#" data-bs-target="#ENoti" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Update personal information in the portal</td>
                                <td>2024-12-06</td>
                                <td>All Employees</td>
                                <td>
                                    <a href="#" data-bs-target="#ENoti" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Office party RSVP deadline</td>
                                <td>2024-12-07</td>
                                <td>Event Committee</td>
                                <td>
                                    <a href="#" data-bs-target="#ENoti" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
         $(window).on('load', function() {
         $('.modal').modal({backdrop: 'static', keyboard: false});
        });
    </script>
<script>
       // Get the checkbox element
    const checkbox = document.getElementById("checkbox1");
    // Get the textbox container
    const textboxContainer = document.getElementById("textbox1");

    // Add an event listener for the checkbox
    checkbox.addEventListener("change", () => {
      if (checkbox.checked) {
        // Show the textbox container when checkbox is checked
        textboxContainer.style.display = "block";
      } else {
        // Hide the textbox container when checkbox is unchecked
        textboxContainer.style.display = "none";
      }
    });
</script>
}