@section Styles {
    <link href="~/matrica/assets/css/main.css" rel="stylesheet" type="text/css" />
}
<div class="row">
	<div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="card-title">Employee Salary Index</h4>
                </div><!--end col-->
            </div><!--end card-header-->
        </div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table mb-0">
					<thead class="thead-light">
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Employee Salary Cycle</th>
							<th>Salary Group</th>
							<th>Allow Payroll Generate</th>
							<th>Action</th>
						</tr><!--end tr-->
					</thead>

					<tbody>
						<tr>
							<td>1</td>
                                <td>John</td>
                                <td>Weekly</td>
                                <td>IT</td>
                                <td>Yes</td>
							<td>
                                <a href="#" data-bs-toggle="modal" class="ml-2" data-toggle="tooltip" data-placement="top" title="Add" style="font-size: 16px;"
                                data-animation="bounce" data-bs-target=".bs-addNewSalary-modal-lg"><i class="fa fa-plus"></i></a>
							</td>
						</tr><!--end tr-->
					</tbody>
				</table>
			</div>
		</div><!--end card-body-->
    </div><!--end card-->
        <div id="mdlNewSalary" class="modal fade bs-addNewSalary-modal-lg" tabindex="" role="dialog" aria-labelledby="myNSModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myNSModalLabel">Salary Setup</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="f-14 text-dark-grey mb-12 my-3" data-label="true" for="">
                                            Annual CTC
                                            <sup class="f-14 mr-1">*</sup>

                                        </label>

                                        <p class="f-11 text-grey">(Cost to company value for the whole year.)</p>

                                        <input type="hidden" name="user_id" id="user_id" value="2435">
                                        <input type="hidden" name="type" id="type" value="initial">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mt-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text f-14 bg-white-shade">$</span>
                                            </div>

                                            <input type="number" class="form-control height-35 f-14" name="annual_salary" onkeyup="changeClc()" id="annual_salary" value="">


                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="row border-bottom-grey">
                                    <div class="col-md-3">

                                        <h4 class="heading-h5 text-capitalize mb-0 py-4">
                                            Salary Component
                                        </h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="heading-h5 text-capitalize mb-0 py-4">
                                            Calculation Type
                                        </h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="heading-h5 text-capitalize mb-0 py-4">
                                            Monthly Amount
                                        </h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="heading-h5 text-capitalize mb-0 py-4">
                                            Annual Amount
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="components">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="heading-h3 text-capitalize mb-0 py-4">
                                            Earnings
                                        </h3>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row mb-2">
                                            <div class="col-md-3">
                                                <label class="f-14 text-dark-grey mb-12" data-label="" for="">
                                                    Basic Salary

                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">

                                                    <input type="number" value="50" onmouseout="changeClc()" name="basic_salary" id="basic_value" class="form-control height-35 f-15 tttt" style="width:30%">

                                                    <div class="dropdown bootstrap-select form-control select-picker">
                                                        <select name="basic_value" id="basic-type" onchange="selectType(this.value)" class="form-control select-picker" data-size="8">
                                                            <option value="fixed">Fixed</option>
                                                            <option selected="" value="ctc_percent">% of CTC</option>
                                                        </select><button style="background-color: #e9ecef;" type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-10" aria-haspopup="listbox" aria-expanded="false" data-id="basic-type" title="% of CTC"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">% of CTC</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-10" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div>
                                                    </div>


                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text f-14 bg-white-shade">$</span>
                                                    </div>

                                                    <input type="text" class="form-control height-35 f-14" name="basic_type" id="basic_type" value="0.00" readonly="">


                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text f-14 bg-white-shade">$</span>
                                                    </div>

                                                    <input type="text" class="form-control height-35 f-14" name="slack_username" id="slack_username" value="0.00" readonly="">


                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 mt-1">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="f-14 text-dark-grey mb-12" data-label="" for="">
                                                    EmplComponent

                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="f-14 text-dark-grey mb-12" data-label="" for="">
                                                    Variable

                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">

                                                    <span class="input-group-text f-14 bg-white-shade">$</span>

                                                    <input type="text" class="form-control height-35 f-14 variable" name="earning_variable[13]" data-type-id="13" id="variable-13" value="120.00">
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="input-group">

                                                    <span class="input-group-text f-14 bg-white-shade">$</span>

                                                    <input type="text" class="form-control height-35 f-14" name="" id="variableAnually13" value="1440" readonly="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row my-3">
                                            <div class="col-md-3">
                                                <label class="f-14 text-dark-grey mb-12" data-label="" for="">
                                                    Fixed Allowance <i class="fa fa-question-circle" aria-hidden="true"></i>
                                                </label>
                                                <p class="f-11 text-grey">(Annual CTC - Sum of all other components)</p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="f-14 text-dark-grey mb-12" data-label="" for="">
                                                    Fixed Allowance

                                                </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="f-14 text-dark-grey mb-12 text-danger monthlyFixedAllowance" data-label="" for="">
                                                    $-120.00

                                                </label>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="f-14 text-dark-grey mb-12 text-danger yearFixedAllowance" data-label="" for="">
                                                    $-1,440.00

                                                </label>
                                                <input type="hidden" name="fixedAllowance" value="-120">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 salary-total mt-2 rounded bg-light">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="heading-h3 mb-0 py-4">
                                                    Cost To Company
                                                </h3>
                                            </div>
                                            <div class="col-md-3">
                                                <h3 class="heading-h3 mb-0 py-4">
                                                    $0.00
                                                </h3>
                                            </div>
                                            <div class="col-md-3">
                                                <h3 class="heading-h3 mb-0 py-4">
                                                    $0.00
                                                </h3>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12  mt-2 rounded bg-light">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4 class="heading-h5 mb-0 py-4">
                                                    Total Deductions
                                                </h4>
                                            </div>
                                            <div class="col-md-3">
                                                <h5 class="heading-h5 mb-0 py-4">
                                                    $0.00
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                                <h5 class="heading-h5 mb-0 py-4">
                                                    $0.00
                                                </h5>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <button type="button" class="btn btn-primary mt-4 float-end"><b><i class="mdi mdi-check-all me-2"></i>Save</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!--end row-->
@section Scripts {
	<script>
		function toggleTextbox(id) {
			const divContainer = document.getElementById(id);
			if (divContainer) {
				// Toggle display of the specific textbox
				divContainer.style.display = divContainer.style.display === 'none' ? 'block' : 'none';
			}
		}
	</script>
}