@section Styles {
	<link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css" />
}
<div class="row">
	<div class="card">
		<div class="card-header">
			<div class="row align-items-center">
				<div class="col">
					<h4 class="card-title">
						Generate Payroll Index
					</h4>
				</div><!--end col-->
			</div>  <!--end row-->
		</div><!--end card-header-->
		<div class="card-body" style="padding-top: 0px;">
			<div class="row mt-4">
				<div class="col-lg-3">
						<input class="form-check-input form-check-input-custom me-2" type="checkbox" id="">
						<label class="form-check-label" for="">Include Expense Claims</label>
				</div>
				<div class="col-lg-3">
						<input class="form-check-input form-check-input-custom me-2" type="checkbox" id="">
						<label class="form-check-label" for="">Add timelogs to salary</label>
				</div>
				<div class="col-lg-3">
					<input class="form-check-input form-check-input-custom me-2" type="checkbox" id="useAttendance" onclick="toggleTextbox('divAbsentUnpaid')">
						<label class="form-check-label" for="useAttendance">Use Attendance</label>
				</div>
				<div class="col-lg-3" id="divAbsentUnpaid" style="display: none;">
						<input class="form-check-input form-check-input-custom me-2" type="checkbox" id="">
						<label class="form-check-label" for="">Mark Absent Days as Unpaid</label>
				</div>
			</div>
			<button type="button" class="btn btn-primary mt-4 float-end"><b><i class="mdi mdi-check-all me-2"></i>Generate</b></button>
		</div><!--end card-body-->
	</div><!--end card-->
	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table mb-0">
					<thead class="thead-light">
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Net Salary</th>
							<th>Duration</th>
							<th>Paid On</th>
							<th>Status</th>
							<th>Action</th>
						</tr><!--end tr-->
					</thead>

					<tbody>
						<tr>
							<td>1</td>
							<td>John</td>
							<td>5000</td>
							<td>6 months</td>
							<td>2024-11-01</td>
							<td>Open</td>
							<td>
								<a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
								<a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
							</td>
						</tr><!--end tr-->
					</tbody>
				</table>
			</div>
		</div><!--end card-body-->
	</div><!--end card-->

</div>
<!--end row-->
@section Scripts {
	<script>
		function toggleTextbox(id) {
			const divContainer = document.getElementById(id);
			if (divContainer) {
				// Toggle display of the specific textbox
				divContainer.style.display = divContainer.style.display === 'none' ? 'block' : 'none';
			}
		}
	</script>
}