@section Styles {
	<link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css">
	<link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
	<script src="~/matrica/assets/libs/mobius1-selectr/selectr.min.js"></script>
	<script src="~/matrica/assets/js/pages/forms-advanced.js"></script>
}

<div class="row">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-lg-6">
					<h4 class="card-title">Project</h4>
				</div>
				<div class="col-lg-6 text-end">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BAddress"><i class="fas fa-plus"></i> Add Project </button>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="row">
				<div class="row">
					<div class="col=md-12">
						<div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<div class="modal-header">
										<h6 class="modal-title m-0" id="BAddressLabel"> Add Project</h6>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="col-lg-6 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Short Code    <span class="f-14 mr-1 text-danger">*</span>
													</label>
													<div class="input-group">
														<div class="input-group-text">CONT#00</div>
														<input type="text" class="form-control" id="inlineFormInputGroupUsername" value="1" placeholder="Username">
													</div>
												</div>
											</div>
											<div class="col-lg-6 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Project Name
														<span class="f-14 mr-1 text-danger">*</span>
													</label>

													<input class="form-control" type="text" value="" id="example-text-input">

												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Start Date <span class="f-14 mr-1 text-danger">*</span>
													</label>
													<input type="date" class="form-control" id="inputGroupFile01">
												</div>
											</div>
											<div class="col-lg-4 g-2 " id="divEndDate" style="display: block;">
												<div class="mb-3 text-start">
													<div class="textbox-container" id="textbox1">
														<div class="col-sm-12">
															<label for="example-text-input">
																End Date
															</label>
															<input type="date" class="form-control" id="inputGroupFile01">
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-4 mt-4">
												<div class="">
													<div class="form-check form-check-inline">
														<input class="dynamic-checkbox form-check-input form-check-input-custom me-2" onclick="toggleTextbox('divEndDate')" type="checkbox" id="checkbox1" data-target="textbox1" value="1">
														<label class="form-check-label" for="dynamic-checkbox">WithOut Due Date</label>
													</div>

												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Project Category
													</label>
													<div class="selectr-container selectr-desktop has-selected" style="width: 100%;">
														<div class="selectr-options-container">
															<div class="selectr-input-container">
																<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
																<button class="selectr-input-clear" type="button"></button>
															</div>
															<div class="selectr-notice"></div>
															<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
														</div>
														<select class="form-select" aria-label="Default select example">
															<option value="" selected>Select Project</option>
															<option value="1">Hotel</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-lg-4 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Department
													</label>
													<div class="selectr-container selectr-desktop has-selected" style="width: 100%;">
														<div class="selectr-options-container">
															<div class="selectr-input-container">
																<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
																<button class="selectr-input-clear" type="button"></button>
															</div>
															<div class="selectr-notice"></div>
															<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
														</div>
														<select class="form-select" aria-label="Default select example">
															<option value="2" selected>IT</option>
															<option value="1">Sales</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-lg-4 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Client
													</label>
													<div class="selectr-container selectr-desktop has-selected" style="width: 100%;">
														<div class="selectr-options-container">
															<div class="selectr-input-container">
																<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
																<button class="selectr-input-clear" type="button"></button>
															</div>
															<div class="selectr-notice"></div>
															<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
														</div>
														<select class="form-select" aria-label="Default select example">
															<option value="" selected>App Admin</option>
															<option value="1">Ravi</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 text-start">
												<label for="notes">
													Project Summary
												</label>
												<textarea id="txtlead" aria-hidden="true" style="display: none;">Hello, World!</textarea>
												<div role="application" class="tox tox-tinymce" aria-disabled="false" style="visibility: hidden; height: 400px;">
													<div class="tox-editor-container">
														<div data-alloy-vertical-dir="toptobottom" class="tox-editor-header">
															<div class="tox-promotion"><a href="https://www.tiny.cloud/tinymce-self-hosted-premium-features/?utm_source=TinyMCE&amp;utm_medium=SPAP&amp;utm_campaign=SPAP&amp;utm_id=editorreferral" rel="noopener" target="_blank" aria-hidden="true" class="tox-promotion-link">⚡️Upgrade</a></div>
															<div role="menubar" data-alloy-tabstop="true" class="tox-menubar">
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">My Favorites</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">File</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">Edit</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">View</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">Insert</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">Format</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
															</div>
															<div role="group" class="tox-toolbar-overlord" aria-disabled="false">
																<div role="group" class="tox-toolbar__primary">
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Undo" title="Undo" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M6.4 8H12c3.7 0 6.2 2 6.8 5.1.6 2.7-.4 5.6-2.3 6.8a1 1 0 0 1-1-1.8c1.1-.6 1.8-2.7 1.4-4.6-.5-2.1-2.1-3.5-4.9-3.5H6.4l3.3 3.3a1 1 0 1 1-1.4 1.4l-5-5a1 1 0 0 1 0-1.4l5-5a1 1 0 0 1 1.4 1.4L6.4 8Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Redo" title="Redo" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M17.6 10H12c-2.8 0-4.4 1.4-4.9 3.5-.4 2 .3 4 1.4 4.6a1 1 0 1 1-1 1.8c-2-1.2-2.9-4.1-2.3-6.8.6-3 3-5.1 6.8-5.1h5.6l-3.3-3.3a1 1 0 1 1 1.4-1.4l5 5a1 1 0 0 1 0 1.4l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Bold" title="Bold" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M7.8 19c-.3 0-.5 0-.6-.2l-.2-.5V5.7c0-.2 0-.4.2-.5l.6-.2h5c1.5 0 2.7.3 3.5 1 .7.6 1.1 1.4 1.1 2.5a3 3 0 0 1-.6 1.9c-.4.6-1 1-1.6 1.2.4.1.9.3 1.3.6s.8.7 1 1.2c.4.4.5 1 .5 1.6 0 1.3-.4 2.3-1.3 3-.8.7-2.1 1-3.8 1H7.8Zm5-8.3c.6 0 1.2-.1 1.6-.5.4-.3.6-.7.6-1.3 0-1.1-.8-1.7-2.3-1.7H9.3v3.5h3.4Zm.5 6c.7 0 1.3-.1 1.7-.4.4-.4.6-.9.6-1.5s-.2-1-.7-1.4c-.4-.3-1-.4-2-.4H9.4v3.8h4Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Italic" title="Italic" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="m16.7 4.7-.1.9h-.3c-.6 0-1 0-1.4.3-.3.3-.4.6-.5 1.1l-2.1 9.8v.6c0 .5.4.8 1.4.8h.2l-.2.8H8l.2-.8h.2c1.1 0 1.8-.5 2-1.5l2-9.8.1-.5c0-.6-.4-.8-1.4-.8h-.3l.2-.9h5.8Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Align left" title="Align left" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 4h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Zm0-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Align center" title="Align center" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm3 4h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 1 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 0 1 0-2Zm-3-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Align right" title="Align right" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm6 4h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm-6-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Justify" title="Justify" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Decrease indent" title="Decrease indent" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 1 1 0-2Zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm-5 4h12a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2Zm1.6-3.8a1 1 0 0 1-1.2 1.6l-3-2a1 1 0 0 1 0-1.6l3-2a1 1 0 0 1 1.2 1.6L6.8 12l1.8 1.2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Increase indent" title="Increase indent" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 1 1 0-2Zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm-5 4h12a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2Zm-2.6-3.8L6.2 12l-1.8-1.2a1 1 0 0 1 1.2-1.6l3 2a1 1 0 0 1 0 1.6l-3 2a1 1 0 1 1-1.2-1.6Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Print" title="Print" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M18 8H6a3 3 0 0 0-3 3v6h2v3h14v-3h2v-6a3 3 0 0 0-3-3Zm-1 10H7v-4h10v4Zm.5-5c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5 1.5.7 1.5 1.5-.7 1.5-1.5 1.5Zm.5-8H6v2h12V5Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<div aria-pressed="false" aria-label="Text color" title="Text color" role="button" aria-haspopup="true" tabindex="-1" unselectable="on" class="tox-split-button" aria-disabled="false" aria-expanded="false" aria-describedby="aria_6229709521521732687684216" style="user-select: none;">
																			<span role="presentation" class="tox-tbtn" aria-disabled="false">
																				<span class="tox-icon tox-tbtn__icon-wrap">
																					<svg width="24" height="24" focusable="false">
																						<g fill-rule="evenodd">
																							<path id="tox-icon-text-color__color" d="M3 18h18v3H3z" fill="#000000"></path>
																							<path d="M8.7 16h-.8a.5.5 0 0 1-.5-.6l2.7-9c.1-.3.3-.4.5-.4h2.8c.2 0 .4.1.5.4l2.7 9a.5.5 0 0 1-.5.6h-.8a.5.5 0 0 1-.4-.4l-.7-2.2c0-.3-.3-.4-.5-.4h-3.4c-.2 0-.4.1-.5.4l-.7 2.2c0 .3-.2.4-.4.4Zm2.6-7.6-.6 2a.5.5 0 0 0 .5.6h1.6a.5.5 0 0 0 .5-.6l-.6-2c0-.3-.3-.4-.5-.4h-.4c-.2 0-.4.1-.5.4Z"></path>
																						</g>
																					</svg>
																				</span>
																			</span>
																			<span role="presentation" class="tox-tbtn tox-split-button__chevron" aria-disabled="false">
																				<svg width="10" height="10" focusable="false">
																					<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																			<span aria-hidden="true" id="aria_6229709521521732687684216" style="display: none;">To open the popup, press Shift+Enter</span>
																		</div>
																		<div aria-pressed="false" aria-label="Background color" title="Background color" role="button" aria-haspopup="true" tabindex="-1" unselectable="on" class="tox-split-button" aria-disabled="false" aria-expanded="false" aria-describedby="aria_9507327221541732687684217" style="user-select: none;">
																			<span role="presentation" class="tox-tbtn" aria-disabled="false">
																				<span class="tox-icon tox-tbtn__icon-wrap">
																					<svg width="24" height="24" focusable="false">
																						<g fill-rule="evenodd">
																							<path id="tox-icon-highlight-bg-color__color" d="M3 18h18v3H3z" fill="#000000"></path>
																							<path fill-rule="nonzero" d="M7.7 16.7H3l3.3-3.3-.7-.8L10.2 8l4 4.1-4 4.2c-.2.2-.6.2-.8 0l-.6-.7-1.1 1.1zm5-7.5L11 7.4l3-2.9a2 2 0 0 1 2.6 0L18 6c.7.7.7 2 0 2.7l-2.9 2.9-1.8-1.8-.5-.6"></path>
																						</g>
																					</svg>
																				</span>
																			</span>
																			<span role="presentation" class="tox-tbtn tox-split-button__chevron" aria-disabled="false">
																				<svg width="10" height="10" focusable="false">
																					<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																			<span aria-hidden="true" id="aria_9507327221541732687684217" style="display: none;">To open the popup, press Shift+Enter</span>
																		</div>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Help" title="Help" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<g fill-rule="evenodd">
																						<path d="M12 5.5a6.5 6.5 0 0 0-6 9 6.3 6.3 0 0 0 1.4 2l1 1a6.3 6.3 0 0 0 3.6 1 6.5 6.5 0 0 0 6-9 6.3 6.3 0 0 0-1.4-2l-1-1a6.3 6.3 0 0 0-3.6-1ZM12 4a7.8 7.8 0 0 1 5.7 2.3A8 8 0 1 1 12 4Z"></path>
																						<path d="M9.6 9.7a.7.7 0 0 1-.7-.8c0-1.1 1.5-1.8 3.2-1.8 1.8 0 3.2.8 3.2 2.4 0 1.4-.4 2.1-1.5 2.8-.2 0-.3.1-.3.2a2 2 0 0 0-.8.8.8.8 0 0 1-1.4-.6c.3-.7.8-1 1.3-1.5l.4-.2c.7-.4.8-.6.8-1.5 0-.5-.6-.9-1.7-.9-.5 0-1 .1-1.4.3-.2 0-.3.1-.3.2v-.2c0 .4-.4.8-.8.8Z" fill-rule="nonzero"></path>
																						<circle cx="12" cy="16" r="1"></circle>
																					</g>
																				</svg>
																			</span>
																		</button>
																	</div>
																</div>
															</div>
															<div class="tox-anchorbar"></div>
														</div>
														<div class="tox-sidebar-wrap">
															<div class="tox-edit-area"><iframe id="basic-conf_ifr" frameborder="0" allowtransparency="true" title="Rich Text Area" class="tox-edit-area__iframe" srcdoc="<!DOCTYPE html><html><head><meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot; /></head><body id=&quot;tinymce&quot; class=&quot;mce-content-body &quot; data-id=&quot;basic-conf&quot; aria-label=&quot;Rich Text Area. Press ALT-0 for help.&quot;><br></body></html>"></iframe></div>
															<div role="complementary" class="tox-sidebar">
																<div data-alloy-tabstop="true" tabindex="-1" class="tox-sidebar__slider tox-sidebar--sliding-closed" style="width: 0px;">
																	<div class="tox-sidebar__pane-container"></div>
																</div>
															</div>
														</div>
													</div>
													<div class="tox-statusbar">
														<div class="tox-statusbar__text-container">
															<div role="navigation" data-alloy-tabstop="true" class="tox-statusbar__path" aria-disabled="false">
																<div data-index="0" aria-level="1" role="button" tabindex="-1" class="tox-statusbar__path-item" aria-disabled="false">p</div>
															</div>
															<span class="tox-statusbar__branding">
																<a href="https://www.tiny.cloud/powered-by-tiny?utm_campaign=editor_referral&amp;utm_medium=poweredby&amp;utm_source=tinymce&amp;utm_content=v6" rel="noopener" target="_blank" aria-label="Powered by Tiny" tabindex="-1">
																	<svg width="50px" height="16px" viewBox="0 0 50 16" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10.143 0c2.608.015 5.186 2.178 5.186 5.331 0 0 .077 3.812-.084 4.87-.361 2.41-2.164 4.074-4.65 4.496-1.453.284-2.523.49-3.212.623-.373.071-.634.122-.785.152-.184.038-.997.145-1.35.145-2.732 0-5.21-2.04-5.248-5.33 0 0 0-3.514.03-4.442.093-2.4 1.758-4.342 4.926-4.963 0 0 3.875-.752 4.036-.782.368-.07.775-.1 1.15-.1Zm1.826 2.8L5.83 3.989v2.393l-2.455.475v5.968l6.137-1.189V9.243l2.456-.476V2.8ZM5.83 6.382l3.682-.713v3.574l-3.682.713V6.382Zm27.173-1.64-.084-1.066h-2.226v9.132h2.456V7.743c-.008-1.151.998-2.064 2.149-2.072 1.15-.008 1.987.92 1.995 2.072v5.065h2.455V7.359c-.015-2.18-1.657-3.929-3.837-3.913a3.993 3.993 0 0 0-2.908 1.296Zm-6.3-4.266L29.16 0v2.387l-2.456.475V.476Zm0 3.2v9.132h2.456V3.676h-2.456Zm18.179 11.787L49.11 3.676H46.58l-1.612 4.527-.46 1.382-.384-1.382-1.611-4.527H39.98l3.3 9.132L42.15 16l2.732-.537ZM22.867 9.738c0 .752.568 1.075.921 1.075.353 0 .668-.047.998-.154l.537 1.765c-.23.154-.92.537-2.225.537-1.305 0-2.655-.997-2.686-2.686a136.877 136.877 0 0 1 0-4.374H18.8V3.676h1.612v-1.98l2.455-.476v2.456h2.302V5.9h-2.302v3.837Z"></path>
																	</svg>
																</a>
															</span>
														</div>
														<div title="Resize" data-alloy-tabstop="true" tabindex="-1" class="tox-statusbar__resize-handle">
															<svg width="10" height="10" focusable="false">
																<g fill-rule="nonzero">
																	<path d="M8.1 1.1A.5.5 0 1 1 9 2l-7 7A.5.5 0 1 1 1 8l7-7ZM8.1 5.1A.5.5 0 1 1 9 6l-3 3A.5.5 0 1 1 5 8l3-3Z"></path>
																</g>
															</svg>
														</div>
													</div>
													<div aria-hidden="true" class="tox-throbber" style="display: none;"></div>
												</div>
											</div>
											<div class="col-lg-6 text-start">
												<label for="notes">
													Notes
												</label>
												<textarea id="txtlead" aria-hidden="true" style="display: none;">Hello, World!</textarea>
												<div role="application" class="tox tox-tinymce" aria-disabled="false" style="visibility: hidden; height: 400px;">
													<div class="tox-editor-container">
														<div data-alloy-vertical-dir="toptobottom" class="tox-editor-header">
															<div class="tox-promotion"><a href="https://www.tiny.cloud/tinymce-self-hosted-premium-features/?utm_source=TinyMCE&amp;utm_medium=SPAP&amp;utm_campaign=SPAP&amp;utm_id=editorreferral" rel="noopener" target="_blank" aria-hidden="true" class="tox-promotion-link">⚡️Upgrade</a></div>
															<div role="menubar" data-alloy-tabstop="true" class="tox-menubar">
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">My Favorites</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">File</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">Edit</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">View</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">Insert</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
																<button aria-haspopup="true" role="menuitem" type="button" tabindex="-1" data-alloy-tabstop="true" unselectable="on" class="tox-mbtn tox-mbtn--select" aria-expanded="false" style="user-select: none;">
																	<span class="tox-mbtn__select-label">Format</span>
																	<div class="tox-mbtn__select-chevron">
																		<svg width="10" height="10" focusable="false">
																			<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																		</svg>
																	</div>
																</button>
															</div>
															<div role="group" class="tox-toolbar-overlord" aria-disabled="false">
																<div role="group" class="tox-toolbar__primary">
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Undo" title="Undo" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M6.4 8H12c3.7 0 6.2 2 6.8 5.1.6 2.7-.4 5.6-2.3 6.8a1 1 0 0 1-1-1.8c1.1-.6 1.8-2.7 1.4-4.6-.5-2.1-2.1-3.5-4.9-3.5H6.4l3.3 3.3a1 1 0 1 1-1.4 1.4l-5-5a1 1 0 0 1 0-1.4l5-5a1 1 0 0 1 1.4 1.4L6.4 8Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Redo" title="Redo" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M17.6 10H12c-2.8 0-4.4 1.4-4.9 3.5-.4 2 .3 4 1.4 4.6a1 1 0 1 1-1 1.8c-2-1.2-2.9-4.1-2.3-6.8.6-3 3-5.1 6.8-5.1h5.6l-3.3-3.3a1 1 0 1 1 1.4-1.4l5 5a1 1 0 0 1 0 1.4l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Bold" title="Bold" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M7.8 19c-.3 0-.5 0-.6-.2l-.2-.5V5.7c0-.2 0-.4.2-.5l.6-.2h5c1.5 0 2.7.3 3.5 1 .7.6 1.1 1.4 1.1 2.5a3 3 0 0 1-.6 1.9c-.4.6-1 1-1.6 1.2.4.1.9.3 1.3.6s.8.7 1 1.2c.4.4.5 1 .5 1.6 0 1.3-.4 2.3-1.3 3-.8.7-2.1 1-3.8 1H7.8Zm5-8.3c.6 0 1.2-.1 1.6-.5.4-.3.6-.7.6-1.3 0-1.1-.8-1.7-2.3-1.7H9.3v3.5h3.4Zm.5 6c.7 0 1.3-.1 1.7-.4.4-.4.6-.9.6-1.5s-.2-1-.7-1.4c-.4-.3-1-.4-2-.4H9.4v3.8h4Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Italic" title="Italic" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="m16.7 4.7-.1.9h-.3c-.6 0-1 0-1.4.3-.3.3-.4.6-.5 1.1l-2.1 9.8v.6c0 .5.4.8 1.4.8h.2l-.2.8H8l.2-.8h.2c1.1 0 1.8-.5 2-1.5l2-9.8.1-.5c0-.6-.4-.8-1.4-.8h-.3l.2-.9h5.8Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Align left" title="Align left" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 4h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Zm0-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Align center" title="Align center" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm3 4h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 1 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1H8a1 1 0 0 1 0-2Zm-3-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Align right" title="Align right" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm6 4h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm0 8h8c.6 0 1 .4 1 1s-.4 1-1 1h-8a1 1 0 0 1 0-2Zm-6-4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Justify" title="Justify" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false" aria-pressed="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M5 5h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 1 1 0-2Zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Zm0 4h14c.6 0 1 .4 1 1s-.4 1-1 1H5a1 1 0 0 1 0-2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Decrease indent" title="Decrease indent" type="button" tabindex="-1" class="tox-tbtn tox-tbtn--disabled" aria-disabled="true">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 1 1 0-2Zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm-5 4h12a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2Zm1.6-3.8a1 1 0 0 1-1.2 1.6l-3-2a1 1 0 0 1 0-1.6l3-2a1 1 0 0 1 1.2 1.6L6.8 12l1.8 1.2Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																		<button aria-label="Increase indent" title="Increase indent" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M7 5h12c.6 0 1 .4 1 1s-.4 1-1 1H7a1 1 0 1 1 0-2Zm5 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm0 4h7c.6 0 1 .4 1 1s-.4 1-1 1h-7a1 1 0 0 1 0-2Zm-5 4h12a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2Zm-2.6-3.8L6.2 12l-1.8-1.2a1 1 0 0 1 1.2-1.6l3 2a1 1 0 0 1 0 1.6l-3 2a1 1 0 1 1-1.2-1.6Z" fill-rule="evenodd"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Print" title="Print" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<path d="M18 8H6a3 3 0 0 0-3 3v6h2v3h14v-3h2v-6a3 3 0 0 0-3-3Zm-1 10H7v-4h10v4Zm.5-5c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5 1.5.7 1.5 1.5-.7 1.5-1.5 1.5Zm.5-8H6v2h12V5Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																		</button>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<div aria-pressed="false" aria-label="Text color" title="Text color" role="button" aria-haspopup="true" tabindex="-1" unselectable="on" class="tox-split-button" aria-disabled="false" aria-expanded="false" aria-describedby="aria_6229709521521732687684216" style="user-select: none;">
																			<span role="presentation" class="tox-tbtn" aria-disabled="false">
																				<span class="tox-icon tox-tbtn__icon-wrap">
																					<svg width="24" height="24" focusable="false">
																						<g fill-rule="evenodd">
																							<path id="tox-icon-text-color__color" d="M3 18h18v3H3z" fill="#000000"></path>
																							<path d="M8.7 16h-.8a.5.5 0 0 1-.5-.6l2.7-9c.1-.3.3-.4.5-.4h2.8c.2 0 .4.1.5.4l2.7 9a.5.5 0 0 1-.5.6h-.8a.5.5 0 0 1-.4-.4l-.7-2.2c0-.3-.3-.4-.5-.4h-3.4c-.2 0-.4.1-.5.4l-.7 2.2c0 .3-.2.4-.4.4Zm2.6-7.6-.6 2a.5.5 0 0 0 .5.6h1.6a.5.5 0 0 0 .5-.6l-.6-2c0-.3-.3-.4-.5-.4h-.4c-.2 0-.4.1-.5.4Z"></path>
																						</g>
																					</svg>
																				</span>
																			</span>
																			<span role="presentation" class="tox-tbtn tox-split-button__chevron" aria-disabled="false">
																				<svg width="10" height="10" focusable="false">
																					<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																			<span aria-hidden="true" id="aria_6229709521521732687684216" style="display: none;">To open the popup, press Shift+Enter</span>
																		</div>
																		<div aria-pressed="false" aria-label="Background color" title="Background color" role="button" aria-haspopup="true" tabindex="-1" unselectable="on" class="tox-split-button" aria-disabled="false" aria-expanded="false" aria-describedby="aria_9507327221541732687684217" style="user-select: none;">
																			<span role="presentation" class="tox-tbtn" aria-disabled="false">
																				<span class="tox-icon tox-tbtn__icon-wrap">
																					<svg width="24" height="24" focusable="false">
																						<g fill-rule="evenodd">
																							<path id="tox-icon-highlight-bg-color__color" d="M3 18h18v3H3z" fill="#000000"></path>
																							<path fill-rule="nonzero" d="M7.7 16.7H3l3.3-3.3-.7-.8L10.2 8l4 4.1-4 4.2c-.2.2-.6.2-.8 0l-.6-.7-1.1 1.1zm5-7.5L11 7.4l3-2.9a2 2 0 0 1 2.6 0L18 6c.7.7.7 2 0 2.7l-2.9 2.9-1.8-1.8-.5-.6"></path>
																						</g>
																					</svg>
																				</span>
																			</span>
																			<span role="presentation" class="tox-tbtn tox-split-button__chevron" aria-disabled="false">
																				<svg width="10" height="10" focusable="false">
																					<path d="M8.7 2.2c.3-.3.8-.3 1 0 .4.4.4.9 0 1.2L5.7 7.8c-.3.3-.9.3-1.2 0L.2 3.4a.8.8 0 0 1 0-1.2c.3-.3.8-.3 1.1 0L5 6l3.7-3.8Z" fill-rule="nonzero"></path>
																				</svg>
																			</span>
																			<span aria-hidden="true" id="aria_9507327221541732687684217" style="display: none;">To open the popup, press Shift+Enter</span>
																		</div>
																	</div>
																	<div title="" role="toolbar" data-alloy-tabstop="true" tabindex="-1" class="tox-toolbar__group">
																		<button aria-label="Help" title="Help" type="button" tabindex="-1" class="tox-tbtn" aria-disabled="false">
																			<span class="tox-icon tox-tbtn__icon-wrap">
																				<svg width="24" height="24" focusable="false">
																					<g fill-rule="evenodd">
																						<path d="M12 5.5a6.5 6.5 0 0 0-6 9 6.3 6.3 0 0 0 1.4 2l1 1a6.3 6.3 0 0 0 3.6 1 6.5 6.5 0 0 0 6-9 6.3 6.3 0 0 0-1.4-2l-1-1a6.3 6.3 0 0 0-3.6-1ZM12 4a7.8 7.8 0 0 1 5.7 2.3A8 8 0 1 1 12 4Z"></path>
																						<path d="M9.6 9.7a.7.7 0 0 1-.7-.8c0-1.1 1.5-1.8 3.2-1.8 1.8 0 3.2.8 3.2 2.4 0 1.4-.4 2.1-1.5 2.8-.2 0-.3.1-.3.2a2 2 0 0 0-.8.8.8.8 0 0 1-1.4-.6c.3-.7.8-1 1.3-1.5l.4-.2c.7-.4.8-.6.8-1.5 0-.5-.6-.9-1.7-.9-.5 0-1 .1-1.4.3-.2 0-.3.1-.3.2v-.2c0 .4-.4.8-.8.8Z" fill-rule="nonzero"></path>
																						<circle cx="12" cy="16" r="1"></circle>
																					</g>
																				</svg>
																			</span>
																		</button>
																	</div>
																</div>
															</div>
															<div class="tox-anchorbar"></div>
														</div>
														<div class="tox-sidebar-wrap">
															<div class="tox-edit-area"><iframe id="basic-conf_ifr" frameborder="0" allowtransparency="true" title="Rich Text Area" class="tox-edit-area__iframe" srcdoc="<!DOCTYPE html><html><head><meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot; /></head><body id=&quot;tinymce&quot; class=&quot;mce-content-body &quot; data-id=&quot;basic-conf&quot; aria-label=&quot;Rich Text Area. Press ALT-0 for help.&quot;><br></body></html>"></iframe></div>
															<div role="complementary" class="tox-sidebar">
																<div data-alloy-tabstop="true" tabindex="-1" class="tox-sidebar__slider tox-sidebar--sliding-closed" style="width: 0px;">
																	<div class="tox-sidebar__pane-container"></div>
																</div>
															</div>
														</div>
													</div>
													<div class="tox-statusbar">
														<div class="tox-statusbar__text-container">
															<div role="navigation" data-alloy-tabstop="true" class="tox-statusbar__path" aria-disabled="false">
																<div data-index="0" aria-level="1" role="button" tabindex="-1" class="tox-statusbar__path-item" aria-disabled="false">p</div>
															</div>
															<span class="tox-statusbar__branding">
																<a href="https://www.tiny.cloud/powered-by-tiny?utm_campaign=editor_referral&amp;utm_medium=poweredby&amp;utm_source=tinymce&amp;utm_content=v6" rel="noopener" target="_blank" aria-label="Powered by Tiny" tabindex="-1">
																	<svg width="50px" height="16px" viewBox="0 0 50 16" xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd" clip-rule="evenodd" d="M10.143 0c2.608.015 5.186 2.178 5.186 5.331 0 0 .077 3.812-.084 4.87-.361 2.41-2.164 4.074-4.65 4.496-1.453.284-2.523.49-3.212.623-.373.071-.634.122-.785.152-.184.038-.997.145-1.35.145-2.732 0-5.21-2.04-5.248-5.33 0 0 0-3.514.03-4.442.093-2.4 1.758-4.342 4.926-4.963 0 0 3.875-.752 4.036-.782.368-.07.775-.1 1.15-.1Zm1.826 2.8L5.83 3.989v2.393l-2.455.475v5.968l6.137-1.189V9.243l2.456-.476V2.8ZM5.83 6.382l3.682-.713v3.574l-3.682.713V6.382Zm27.173-1.64-.084-1.066h-2.226v9.132h2.456V7.743c-.008-1.151.998-2.064 2.149-2.072 1.15-.008 1.987.92 1.995 2.072v5.065h2.455V7.359c-.015-2.18-1.657-3.929-3.837-3.913a3.993 3.993 0 0 0-2.908 1.296Zm-6.3-4.266L29.16 0v2.387l-2.456.475V.476Zm0 3.2v9.132h2.456V3.676h-2.456Zm18.179 11.787L49.11 3.676H46.58l-1.612 4.527-.46 1.382-.384-1.382-1.611-4.527H39.98l3.3 9.132L42.15 16l2.732-.537ZM22.867 9.738c0 .752.568 1.075.921 1.075.353 0 .668-.047.998-.154l.537 1.765c-.23.154-.92.537-2.225.537-1.305 0-2.655-.997-2.686-2.686a136.877 136.877 0 0 1 0-4.374H18.8V3.676h1.612v-1.98l2.455-.476v2.456h2.302V5.9h-2.302v3.837Z"></path>
																	</svg>
																</a>
															</span>
														</div>
														<div title="Resize" data-alloy-tabstop="true" tabindex="-1" class="tox-statusbar__resize-handle">
															<svg width="10" height="10" focusable="false">
																<g fill-rule="nonzero">
																	<path d="M8.1 1.1A.5.5 0 1 1 9 2l-7 7A.5.5 0 1 1 1 8l7-7ZM8.1 5.1A.5.5 0 1 1 9 6l-3 3A.5.5 0 1 1 5 8l3-3Z"></path>
																</g>
															</svg>
														</div>
													</div>
													<div aria-hidden="true" class="tox-throbber" style="display: none;"></div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 g-2">
												<div class="mb-3 text-start">
													<div class="col-sm-12">
														<div class="form-check form-check-inline">
															<input class="dynamic-checkbox form-check-input" type="checkbox" id="checkbox2" data-target="textbox2" value="1">
															<label class="form-check-label" for="dynamic-checkbox">Create Public Project </label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-12 g-2 ">
												<div class="mb-3 text-start">
													<div class="textbox-container row" id="textbox2" style="display: none;">
														<div class="col-sm-12">
															<label for="example-text-input">
																Add Project Members  <span class="f-14 mr-1 text-danger">*</span>
															</label>
															<div class="col-md-4">
																<label class="mb-3">Multi Select</label>
																<div class="selectr-container selectr-mobile multiple has-selected" style="width: 100%;">

																	<div class="selectr-options-container">
																		<div class="selectr-input-container"><input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search"><button class="selectr-input-clear" type="button"></button></div>
																		<div class="selectr-notice"></div>
																		<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
																	</div>
																	<select id="multiSelect" multiple="" tabindex="-1" class="selectr-visible" aria-hidden="true">
																		<option value="value-1">App Admin</option>
																		<option value="value-2">Ravi</option>
																		<option value="value-3">Jack</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 text-start">
												<h4 class="header-title">Client Details</h4>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Add File
														<span class="f-14 mr-1 text-danger">*</span>
													</label>
													<div class="input-group mb-3">

														<input type="file" class="form-control" id="inputGroupFile01">
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Currency

													</label>
													<div class="selectr-container selectr-desktop has-selected" style="width: 100%;">
														<div class="selectr-options-container">
															<div class="selectr-input-container">
																<input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
																<button class="selectr-input-clear" type="button"></button>
															</div>
															<div class="selectr-notice"></div>
															<ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
														</div>
														<select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
															<option value="value-1" selected="">USD($)</option>
															<option value="value-2">MYR (RM)</option>
															<option value="value-3">Rupee(₹)</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-lg-4 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Project Budget
													</label>
													<input type="number" class="form-control" id="inputGroupFile01">
												</div>
											</div>
											<div class="col-lg-4 g-2">
												<div class="mb-3 text-start">
													<label for="example-text-input">
														Hours Estimate (In Hours)
													</label>
													<input type="number" class="form-control" id="inputGroupFile01">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-4">
												<input class="form-check-input form-check-input-custom me-2" type="checkbox" id="">
												<label class="form-check-label" for="">Allow Manual Time logs</label>
											</div>
											<div class="col-lg-4">
												<input class="form-check-input form-check-input-custom me-2" onclick="toggleTextbox('divMiro')" type="checkbox" id="enableMB">
												<label class="form-check-label" for="enableMB">Enable Microboard</label>
											</div>
											<div class="col-lg-4">
												<input class="form-check-input form-check-input-custom me-2" type="checkbox" id="">
												<label class="form-check-label" for="">Send task notification to client</label>
											</div>
										</div>
										<div class="row mt-4" id="divlabelMiro" style="display: none;">
											<div class="col-lg-4">
												<label>Miro Board ID</label>
											</div>
											<div class="col-lg-4">
											</div>                                     <div class="col-lg-4">
											</div>
										</div>
										<div class="row" id="divMiro" style="display: none;">
											<div class="col-lg-4">
												<input type="text" placeholder="" class="form-control" id="" required="">
											</div>
											<div class="col-lg-4 mt-4">
												Client Can Access Miro<span class="f-14 mr-1 text-danger">*</span>
											</div>
											<div class="col-lg-4">
											</div>
										</div>
										@* <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" id="" value="1">
                                                            <label class="form-check-label" for="allowce">Allow Manual Time logs</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input dynamic-checkbox" type="checkbox" id="checkbox3" onclick="toggleTextbox('')" data-target="textbox3" value="">
                                                            <label class="form-check-label" for="dynamic-checkbox">Enable Microboard</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-6">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="" value="1">
                                                    <label class="form-check-label" for="allowce">Client can Acess Miro</label>
                                                </div>
                                            </div>
                                            <div class="textbox-container" id="div" style="display: none;">
                                                <div class="row">
                                                <div class="col-lg-6">
                                                    <label for="example-text-input">
                                                                Miro Board ID  <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="inputGroupFile01">
                                                </div>
                                                    <div class="col-lg-6 g-2">
                                                        <div class="mb-3 text-start">
                                                            <div class="col-sm-12">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="" value="1">
                                                                    <label class="form-check-label" for="allowce">Send task notification to client</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> *@
									</div><!--end card-body-->
									<div class="modal-footer">
										<button type="button" class="btn btn-de-danger btn-sm" data-bs-dismiss="modal">Close</button>
										<button class="btn btn-de-primary btn-sm" type="button">Save</button>
									</div><!--end modal-footer-->
								</div><!--end modal-content-->
							</div><!--end modal-dialog-->
						</div><!--end modal-->
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped mb-0">
						<thead>
							<tr>
								<th><input type="checkbox" /></th>
								<th>Code</th>
								<th>Project Name</th>
								<th>Member</th>
								<th>Start Date</th>
								<th>Deadline</th>
								<th>Client</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th><input type="checkbox" /></th>
								<td>PA44</td>
								<td>Construction</td>
								<td>Mr.Alwin</td>
								<td>01-12-2024</td>
								<td>15-03-2024</td>
								<td>Ravi</td>
								<td>On Progress</td>
								<td>
									<a href="#"><i class="las la-pen text-secondary font-16"></i></a>
									<a href="#" class="ms-2" onclick="executeExample('warningConfirm')"><i class="las la-trash-alt text-secondary font-16"></i></a>
								</td>
							</tr>
						</tbody>
					</table><!--end /table-->
				</div><!--end /tableresponsive-->
			</div>
		</div>
	</div>
</div>

<script src="~/matrica/assets/libs/tinymce/tinymce.min.js"></script>
<script src="~/matrica/assets/js/pages/form-editor.init.js"></script>
<script>
	tinymce.init({
	  selector: 'textarea#txtlead'
	});
	tinymce.init({
	  selector: 'textarea#txtedittemplate'
	});
</script>

<script>
	function toggleTextbox(id) {
			const chkbox = document.getElementById(id);
			const divContainer = document.getElementById("divlabelMiro");

			if (chkbox) {
						// Toggle display of the specific textbox
							if(id =="divEndDate"){
							chkbox.style.display = chkbox.style.display === 'block' ? 'none' : 'block';
						}
						else{
							chkbox.style.display = chkbox.style.display === 'none' ? 'block' : 'none';
							divContainer.style.display = divContainer.style.display === 'none' ? 'block' : 'none';
						}
		}
	}
</script>
