@section Scripts {
        <link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css">
        <link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css">
        <script src="~/matrica/assets/libs/mobius1-selectr/selectr.min.js"></script>
        <script src="~/matrica/assets/js/pages/forms-advanced.js"></script>
}
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="card-title">Project</h4>
                </div>
                <div class="col-lg-6 text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BAddress"><i class="fas fa-plus"></i> Add Project </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="row">
                    <div class="col=md-12 text-md-end">
                        <div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="BAddressLabel"> Add Project</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Short Code    <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <div class="input-group mt-2">
                                                        <div class="input-group-text">CONT#00</div>
                                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" value="1" placeholder="Username">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Project Name
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>

                                                    <input class="form-control mt-2" type="text" value="" id="example-text-input">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Start Date <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <input type="date" class="form-control mt-2" id="inputGroupFile01">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2 " >
                                                <div class="mb-3 text-start">
                                                    <div class="textbox-container" id="textbox1" style="display: none;">
                                                        <div class="col-sm-12" >
                                                            <label for="example-text-input">
                                                                End Date
                                                            </label>
                                                            <input type="date" class="form-control mt-2" id="inputGroupFile01">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="dynamic-checkbox form-check-input form-check-input-custom" type="checkbox" id="checkbox1" data-target="textbox1" value="1">
                                                            <label class="form-check-label" for="dynamic-checkbox">WithOut Due Date</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Project Category
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-2" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option value="" selected>--</option>
                                                            <option value="1">Hotel</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Department
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-2" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option value="" selected>--</option>
                                                            <option value="2">IT</option>
                                                            <option value="1">Sales</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Client
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-2" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option value="" selected>--</option>
                                                            <option value="1">App Admin</option>
                                                            <option value="2">Ravi</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">     
                                            <div class="col-lg-6 text-start mb-3">
                                                <label for="notes">
                                                    Project Summary
                                                </label>
                                                <textarea id="" aria-hidden="true" class="form-control mt-2" rows="5"></textarea>
                                            </div>
                                            <div class="col-lg-6 text-start mb-3">
                                                <label for="notes">
                                                    Notes
                                                </label>
                                                <textarea id="" aria-hidden="true" class="form-control mt-2" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="dynamic-checkbox form-check-input form-check-input-custom" type="checkbox" id="checkbox2" data-target="textbox2" value="1">
                                                            <label class="form-check-label" for="dynamic-checkbox" >Create Public Project </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 g-2 ">
                                                <div class="mb-3 text-start">
                                                    <div class="textbox-container row" id="textbox2" style="display: none;">
                                                        <div class="col-sm-12">
                                                           
                                                            <label class="mb-3">Add Project Members <span class="f-14 mr-1 text-danger">* </span></label>
                                                            <div class="selectr-container selectr-desktop multiple" style="width: 100%;">
                                                                <div class="selectr-options-container">
                                                                    <div class="selectr-input-container">
                                                                        <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                        <button class="selectr-input-clear" type="button"></button>
                                                                    </div>
                                                                    <div class="selectr-notice"></div>
                                                                    <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                                </div>
                                                                <select id="multiSelect" multiple="" tabindex="-1" class="selectr-hidden multiSelectr" aria-hidden="true">
                                                                    <option value="" selected>--</option>
                                                                    <option value="value-1">App Admin</option>
                                                                    <option value="value-2">Ravi</option>
                                                                    <option value="value-3">Jack</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 text-start mb-3 mt-3">
                                                <h4 class="header-title">Client Details</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Add File
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <div class="input-group mt-2">
                                                        
                                                        <input type="file" class="form-control " id="inputGroupFile01">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Currency

                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-2" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="" selected="">--</option>
                                                            <option value="value-1">USD($)</option>
                                                            <option value="value-2">MYR (RM)</option>
                                                            <option value="value-3">Rupee(₹)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Project Budget
                                                    </label>
                                                    <input type="number" class="form-control mt-2" id="inputGroupFile01">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Hours Estimate (In Hours)
                                                    </label>
                                                    <input type="number" class="form-control mt-2" id="inputGroupFile01">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="form-check-input form-check-input-custom" type="checkbox" id="" value="1">
                                                            <label class="form-check-label" for="allowce">Allow Manual Time logs</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="form-check-input form-check-input-custom dynamic-checkbox" type="checkbox" id="checkbox3" data-target="textbox3" value="1" value="1">
                                                            <label class="form-check-label" for="dynamic-checkbox">Enable Microboard</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="form-check-input form-check-input-custom" type="checkbox" id="" value="1">
                                                            <label class="form-check-label" for="allowce">Send task notification to client</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="textbox-container" id="textbox3" style="display: block;">
                                                <div class="row">
                                                <div class="col-lg-6">
                                                    <label for="example-text-input">
                                                                Miro Board ID  <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                        <input type="text" class="form-control mt-2" id="inputGroupFile01">
                                                </div>
                                                <div class="col-lg-6 text-start">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="form-check-input form-check-input-custom" type="checkbox" id="" value="1">
                                                        <label class="form-check-label" for="allowce">Client can Acess Miro</label>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end card-body-->
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-start">
                                                <button type="button" class="btn btn-primary  "><i class="mdi mdi-check-all "></i>Save</button>
                                            </div>
                                        </div>
                                    </div><!--end modal-footer-->
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>Code</th>
                                <th>Project Name</th>
                                <th>Member</th>
                                <th>Start Date</th>
                                <th>Deadline</th>
                                <th>Client</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <td>PA44</td>
                                <td>Construction</td>
                                <td>Mr.Alwin</td>
                                <td>01-12-2024</td>
                                <td>15-03-2024</td>
                                <td>Ravi</td>
                                <td>On Progress</td>
                                <td>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div>
        </div>
    </div>
</div>

<script src="~/matrica/assets/libs/tinymce/tinymce.min.js"></script>
<script src="~/matrica/assets/js/pages/form-editor.init.js"></script>
<script>
    tinymce.init({
      selector: 'textarea#txtlead'
    });
    tinymce.init({
      selector: 'textarea#txtedittemplate'
    });
</script>

<script>
   // Select all checkboxes with the class 'dynamic-checkbox'
const checkboxes = document.querySelectorAll(".dynamic-checkbox");

// Loop through each checkbox
checkboxes.forEach((checkbox) => {
  checkbox.addEventListener("change", () => {
    // Get the target textbox ID from the 'data-target' attribute
    const targetId = checkbox.getAttribute("data-target");
    const textboxContainer = document.getElementById(targetId);

    // Toggle the display of the corresponding textbox container
    if (checkbox.checked) {
      textboxContainer.style.display = "none"; // Hide when checkbox is checked
    } else {
      textboxContainer.style.display = "block"; // Show when checkbox is unchecked
    }
  });
});

</script>
