@section Styles {
    <link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/matrica/assets/css/app-imgpicker-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/matrica/assets/libs/dropify/css/dropify.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
            .dropify-font-upload:before, .dropify-wrapper .dropify-message span.file-icon:before {
        content: '\e800';
    }
    .dropify-font:before, .dropify-wrapper .dropify-message span.file-icon:before, .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon:before, [class*=" dropify-font-"]:before, [class^=dropify-font-]:before {
        font-family: dropify;
        font-style: normal;
        font-weight: 400;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-left: .2em;
        margin-right: .2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
    }
    </style>
}
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#tbInvoiceSettings" role="tab">Invoice Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbInvoiceTemplate" role="tab">Invoice Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbPrefixSettings" role="tab">Prefix Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbUnit" role="tab">Unit</a>
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbQuickbooksSettings" role="tab">Quickbooks Settings</a>
                    </li>
                </ul>
            </div><!--end card-body-->
            <div class="card-body pt-0">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active show" id="tbInvoiceSettings" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Invoice Index</h4>
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Invoice Logo <i class="fa fa-question-circle" aria-hidden="true"></i></h4>
                                            </div><!--end card-header-->
                                            <div class="card-body">
                                             <input type="file" class="dropify" id="image" name="image" data-allowed-file-extensions="png jpg jpeg svg bmp" data-height="100" autocomplete="off">
                                            </div><!--end card-body-->
										</div>
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Authorised Signatory Signature <i class="fa fa-question-circle" aria-hidden="true"></i></h4>
                                            </div><!--end card-header-->
                                            <div class="card-body">
                                                <input type="file" class="dropify" id="image" name="image" data-allowed-file-extensions="png jpg jpeg svg bmp" data-height="100" autocomplete="off">
                                            </div><!--end card-body-->
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">Language</div>
                                    <div class="col-lg-6">Due after <span class="text-danger">*</span></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <select id="sltLanguage" class="form-select" aria-label="">
                                            <option selected="" value="">--</option>
                                            <option data-content="<span class='flag-icon flag-icon-gb flag-icon-squared'></span> English" selected="" value="en"> English </option>
                                            <option data-content="<span class='flag-icon flag-icon-sa flag-icon-squared'></span> Arabic" value="ar"> Arabic </option>
                                            <option data-content="<span class='flag-icon flag-icon-de flag-icon-squared'></span> German" value="de"> German </option>
                                            <option data-content="<span class='flag-icon flag-icon-id flag-icon-squared'></span> Indonesian" value="id"> Indonesian </option>
                                            <option data-content="<span class='flag-icon flag-icon-my flag-icon-squared'></span> Malaysia" value="ms"> Malaysia </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="15" aria-label="" aria-describedby="dueDays">
                                            <span class="input-group-text" id="dueDays">Day(s)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-lg-6">Send Reminder Before</div>
                                    <div class="col-lg-6"></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="0" aria-label="" aria-describedby="sendReminder">
                                            <span class="input-group-text" id="sendReminder">Day(s)</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2" style="padding-right: 0px;">
                                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                                        <select class="form-select" id="inlineFormSelectPref">
                                            <option value="1" selected="">Send Reminder After</option>
                                            <option value="2">Send Reminder Before</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4" style="padding-left: 0px;">
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="0" aria-label="" aria-describedby="dueDays">
                                            <span class="input-group-text" id="dueDays">Day(s)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox mt-4 mb-2">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="showTax" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="showTax">Show Tax number on invoice</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox mt-4 mb-2">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="showHSN" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="showHSN">Hsn/Sac Code Show</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox mt-4 mb-2">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="showTaxCalc" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="showTaxCalc">Show tax calculation message</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="showStatus" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="showStatus">Show Status</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="showAuthorised" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="showAuthorised">Show Authorised Signatory</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <h4>Client info to show on invoice</h4>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="clientName" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="clientName">Client Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="clientEmail" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="clientEmail">Client Email</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="clientPhone" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="clientPhone">Client Phone</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="companyName" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="companyName">Company Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="clientAddress" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="clientAddress">Client Address</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="showPrjInvoice" data-parsley-multiple="" data-parsley-mincheck="2">
                                            <label class="custom-control-label labelcustom" for="showPrjInvoice">Show Project on Invoice</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <label class="custom-control-label" for="reqShiftChange" style="font-size: 14px;">Terms and Conditions</label>
                                        <textarea class="form-control mt-2" rows="5" id="termsConditions">Thank you for your business.</textarea>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <label class="custom-control-label" for="reqShiftChange" style="font-size: 14px;">Other information</label>
                                        <textarea class="form-control mt-2" rows="5" id="otherInformation" placeholder="Enter Other information"></textarea>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-de-primary mt-4 float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>
                            </div><!--end card-body-->
                        </div>
                    </div>

                    <div class="tab-pane" id="tbInvoiceTemplate" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Template Index<span class="text-danger"> *</span></h4>
                                    </div><!--end col-->

                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <select name="template" class="image-picker show-labels show-html" style="display: none;">
                                            <option data-img-src="~/matrica/assets/images/templates/1.png" selected="" value="invoice-1"> Template 1 </option>
                                            <option data-img-src="~/matrica/assets/images/templates/2.png" value="invoice-2"> Template 2 </option>
                                            <option data-img-src="~/matrica/assets/images/templates/3.png" value="invoice-3"> Template 3 </option>
                                        </select>
                                        <ul class="thumbnails image_picker_selector">
                                            <li>
                                                <div class="thumbnail">
                                                    <img class="" src="~/matrica/assets/images/templates/1.png">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail">
                                                    <img class="image_picker_image" src="~/matrica/assets/images/templates/2.png">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail">
                                                    <img class="image_picker_image" src="~/matrica/assets/images/templates/3.png">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-de-primary mt-4 float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div>
                    <!--  Modal content for New Emergency Contact -->
                    <div class="tab-pane" id="tbPrefixSettings" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Prefix Index</h4>
                                    </div><!--end col-->
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            
                            <div class="row col-lg-12 mt-2 ms-1">
                                <div class="col-lg-3">
                                    <div class="text-center">
                                        <h4 class="text-muted">Invoice</h4>
                                    </div>
                                    <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                                        <div class="card-body">
                                            <div class="row mt-2">
                                                <span>Invoice Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                            </div>
                                            <div class="row mt-2">
                                                <input value="INV" type="text" placeholder="Enter Invoice Prefix" class="form-control" name="invoiceNoPrefix" id="txtInvoiceNoPrefix" />
                                            </div>
                                            <div class="row mt-4">
                                                Invoice Number Separator
                                            </div>
                                            <div class="row mt-2">
                                                <input value="#" type="text" placeholder="Invoice Number Seperator" class="form-control" name="invoiceNoNoSeperator" id="txtInvoiceNoNoSeperator" />
                                            </div>
                                            <div class="row mt-4">
                                                Invoice Number Digits
                                            </div>
                                            <div class="row mt-2">
                                                <input value="2" type="number" placeholder="Invoice Number Digits" class="form-control" name="invoiceNoNoDigits" id="txtInvoiceNoNoDigits" />
                                            </div>
                                            <div class="row mt-4">
                                                Invoice Number Example
                                            </div>
                                            <div class="row mt-2">
                                                <input value="INV#01" type="text" placeholder="" class="form-control font-spacing-bold" name="invoiceNoNoExample" id="txtInvoiceNoNoExample" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="text-center">
                                        <h4 class="text-muted">Credit Note</h4>
                                    </div>
                                    <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                                        <div class="card-body">
                                            <div class="row mt-2">
                                                <span>Credit Note Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                            </div>
                                            <div class="row mt-2">
                                                <input value="CRD" type="text" placeholder="Enter Credit Note Prefix" class="form-control" name="creditNotePrefix" id="txtCreditNotePrefix" />
                                            </div>
                                            <div class="row mt-4">
                                                Credit Note Number Separator
                                            </div>
                                            <div class="row mt-2">
                                                <input value="#" type="text" placeholder="Credit Note Number Separator" class="form-control" name="creditNoteNoSeperator" id="txtCreditNoteNoSeperator" />
                                            </div>
                                            <div class="row mt-4">
                                                Credit Note Digits
                                            </div>
                                            <div class="row mt-2">
                                                <input value="2" type="number" placeholder="Credit Note Digits" class="form-control" name="creditNoteNoDigits" id="txtCreditNoteNoDigits" />
                                            </div>
                                            <div class="row mt-4">
                                                Credit Note Number Example
                                            </div>
                                            <div class="row mt-2">
                                                <input value="CRD#01" type="text" placeholder="" class="form-control font-spacing-bold" name="creditNoteNoExample" id="txtCreditNoteNoExample" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="text-center">
                                        <h4 class="text-muted">Estimation</h4>
                                    </div>
                                    <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                                        <div class="card-body">
                                            <div class="row mt-2">
                                                <span>Estimation Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                            </div>
                                            <div class="row mt-2">
                                                <input value="EST" type="text" placeholder="Estimate Prefix" class="form-control" name="estimatePrefix" id="txtEstimatePrefix" />
                                            </div>
                                            <div class="row mt-4">
                                                Estimation Number Separator
                                            </div>
                                            <div class="row mt-2">
                                                <input value="#" type="text" placeholder="Estimate Number Separator" class="form-control" name="estimateNoSeperator" id="txtEstimateNoSeperator" />
                                            </div>
                                            <div class="row mt-4">
                                                Estimation Number Digits
                                            </div>
                                            <div class="row mt-2">
                                                <input value="2" type="number" placeholder="Estimate Number Digits" class="form-control" name="estimateNoDigits" id="txtEstimateNoDigits" />
                                            </div>
                                            <div class="row mt-4">
                                                Estimation Number Example
                                            </div>
                                            <div class="row mt-2">
                                                <input value="EST#01" type="text" placeholder="" class="form-control font-spacing-bold" name="estimateNoExample" id="txtEstimateNoExample" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="text-center">
                                        <h4 class="text-muted">Order</h4>
                                    </div>
                                    <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                                        <div class="card-body">
                                            <div class="row mt-2">
                                                <span>Order Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                            </div>
                                            <div class="row mt-2">
                                                <input value="ORD" type="text" placeholder="Order Prefix" class="form-control" name="orderPrefix" id="txtOrderPrefix" />
                                            </div>
                                            <div class="row mt-4">
                                                Order Number Separator
                                            </div>
                                            <div class="row mt-2">
                                                <input value="#" type="text" placeholder="Order Number Separator" class="form-control" name="ordNoSeperator" id="txtOrdNoSeperator" />
                                            </div>
                                            <div class="row mt-4">
                                                Order Number Digits
                                            </div>
                                            <div class="row mt-2">
                                                <input value="2" type="number" placeholder="Order Number Digits" class="form-control" name="ordNoDigits" id="txtOrdNoDigits" />
                                            </div>
                                            <div class="row mt-4">
                                                Order Number Example
                                            </div>
                                            <div class="row mt-2">
                                                <input value="ORD#01" type="text" placeholder="" class="form-control font-spacing-bold" name="ordNoExample" id="txtOrdNoExample" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-de-primary mt-2 float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>
                    </div>

                    <div class="tab-pane" id="tbUnit" role="tabpanel" style="width: 50%; margin-left: 20%;">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Unit Index</h4>
                                    </div><!--end col-->
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-addNewUnit-modal-lg"><i class="fas fa-plus me-2"></i>Add Unit</button>
                                    </div><!--end col-->
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Units</th>
                                                <th>IsDefault</th>
                                                <th>Action</th>
                                            </tr><!--end tr-->
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Pcs</td>
                                                <td>Yes</td>
                                                <td>
                                                    <a href="#" data-toggle="tooltip" data-placement="top"
                                                       data-bs-toggle="modal"
                                                       data-animation="bounce" data-bs-target=".bs-addEditUnit-modal-lg"
                                                    title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                        </tbody>
                                    </table>
                                </div>
                            </div><!--end card-body-->



                        </div>
                    </div>
                    <div id="mdlNewUnit" class="modal fade bs-addNewUnit-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myNUModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myECModalLabel">Unit Setup</h5>
                                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row mt-3 mb-2">
                                            <div class="col-lg-12">Unit Type <span class="text-danger">*</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12"><input type="text" placeholder="Enter a category name" class="form-control" id="txtUnit"></div>
                                        </div>
                                        <div class="row mt-2 text-end ">
                                            <div class="col-lg-12 mt-4">
                                                <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                                <button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Create</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div id="mdlEditUnit" class="modal fade bs-addEditUnit-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myEUnitModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myEUnitModalLabel">Edit Unit Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row mt-3 mb-2">
                                            <div class="col-lg-12">Unit Type <span class="text-danger">*</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12"><input type="text" placeholder="" value="Pcs" class="form-control" id=""></div>
                                        </div>
                                        <div class="row mt-2 text-end ">
                                            <div class="col-lg-12 mt-4">
                                                <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                                <button type="button" class="btn btn-sm btn-de-primary"><i class="mdi mdi-check-all me-2"></i>Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="tab-pane d-none" id="tbQuickbooksSettings" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Quickbooks Index</h4>
                                    </div><!--end col-->

                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-lg-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-input-custom" id="qbStatus">
                                            <label class="custom-control-label labelcustom" for="qbStatus">Status</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="divSettings" style="display: none;">
                                    <div class="row mt-4">
                                        <div class="col-lg-4">Select Environment</div>
                                        <div class="col-lg-4">Client ID <span class="text-danger">*</span></div>
                                        <div class="col-lg-4">Client Secret <span class="text-danger">*</span></div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-4">
                                            <label class="visually-hidden" for="sltEnvironment">Preference</label>
                                            <select class="form-select" id="sltEnvironment">
                                                <option selected="" value="">--</option>
                                                <option value="1">Sandbox</option>
                                                <option value="2">Live</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4"><input type="text" placeholder="" class="form-control" id="txtClientId"></div>
                                        <div class="col-lg-4">
                                            <input type="password" id="txtclientSecret" class="form-control" value="">
                                            <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h4 class="card-title">
                                                Quickbooks Redirect URL
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-10" style="border: 1px solid #c5c7cc; align-content: center;">
                                            <p id="qbCopy" aria-describedby="btnqbCopy">
                                                https://www.google.co.in/?gfe_rd=cr&ei=kMpCVunlFurI8AehyrX4Aw
                                            </p>
                                        </div>
                                        <div class="col-lg-2" style="padding-left: 0px;">
                                            <button class="btn btn-de-secondary" type="button" id="btnqbCopy"
                                                    data-clipboard-action="copy" data-clipboard-target="#qbCopy">
                                                <i class="far fa-copy me-2"></i>Copy
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <p style="color: blue;">
                                            (Add this callback url in your quickbooks app settings.)
                                        </p>
                                    </div>
                                    <div class="row alert alert-danger border-0" role="alert" style="margin: 0px;">
                                        Connect Quickbooks Account. Without connecting quickbooks account Sync will not work.
                                    </div>
                                </div>
                                <button type="button" class="btn btn-de-primary mt-4 float-end"><b><i class="mdi mdi-check-all me-2"></i>Save</b></button>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div>



                </div><!--end card-body-->
            </div><!--end card-->

        </div>
    </div>
</div>
<!--end row-->
@section Scripts {
    <script src="~/matrica/assets/libs/clipboard/clipboard.min.js"></script>
    <script src="~/matrica/assets/js/pages/clipboard.init.js"></script>
    <script src="~/matrica/assets/libs/dropify/js/dropify.js"></script>

    <script type="text/javascript">
        // ~/matrica/assets/images/logo-sm.png
        $(".dropify").attr("data-default-file", window.location.origin + "/matrica/assets/images/logo-sm.png");
        $('.dropify').dropify();

          const dropifyMessages = {
            default: "Choose a file",
            replace: "Drop a file or click to replace",
            remove: "Remove",
            error: "Some error occurred.",
        };


                $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            input = $(this).parent().find("input");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });


                $.event.special.inputchange = {
            setup: function() {
                var self = this, val;
                $.data(this, 'timer', window.setInterval(function() {
                    val = self.value;
                    if ( $.data( self, 'cache') != val ) {
                        $.data( self, 'cache', val );
                        $( self ).trigger( 'inputchange' );
                    }
                }, 20));
            },
            teardown: function() {
                window.clearInterval( $.data(this, 'timer') );
            },
            add: function() {
                $.data(this, 'cache', this.value);
            }
        };

        $('#txtInvoiceNoPrefix').on('inputchange', function() {
                   var prefix = $("#txtInvoiceNoPrefix").val();
                    var seperator = $("#txtInvoiceNoNoSeperator").val();
                    var digits = $("#txtInvoiceNoNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtInvoiceNoNoExample").val(result);
        });
        $('#txtInvoiceNoNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtInvoiceNoPrefix").val();
                    var seperator = $("#txtInvoiceNoNoSeperator").val();
                    var digits = $("#txtInvoiceNoNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtInvoiceNoNoExample").val(result);
        });
        $('#txtInvoiceNoNoDigits').on('inputchange', function() {
                   var prefix = $("#txtInvoiceNoPrefix").val();
                    var seperator = $("#txtInvoiceNoNoSeperator").val();
                    var digits = $("#txtInvoiceNoNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtInvoiceNoNoExample").val(result);
        });


        $('#txtCreditNotePrefix').on('inputchange', function() {
                   var prefix = $("#txtCreditNotePrefix").val();
                    var seperator = $("#txtCreditNoteNoSeperator").val();
                    var digits = $("#txtCreditNoteNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtCreditNoteNoExample").val(result);
        });
        $('#txtCreditNoteNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtCreditNotePrefix").val();
                    var seperator = $("#txtCreditNoteNoSeperator").val();
                    var digits = $("#txtCreditNoteNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtCreditNoteNoExample").val(result);
        });
        $('#txtCreditNoteNoDigits').on('inputchange', function() {
                   var prefix = $("#txtCreditNotePrefix").val();
                    var seperator = $("#txtCreditNoteNoSeperator").val();
                    var digits = $("#txtCreditNoteNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtCreditNoteNoExample").val(result);
        });


        $('#txtEstimatePrefix').on('inputchange', function() {
                   var prefix = $("#txtEstimatePrefix").val();
                    var seperator = $("#txtEstimateNoSeperator").val();
                    var digits = $("#txtEstimateNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtEstimateNoExample").val(result);
        });
        $('#txtEstimateNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtEstimatePrefix").val();
                    var seperator = $("#txtEstimateNoSeperator").val();
                    var digits = $("#txtEstimateNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtEstimateNoExample").val(result);
        });
        $('#txtEstimateNoDigits').on('inputchange', function() {
                   var prefix = $("#txtEstimatePrefix").val();
                    var seperator = $("#txtEstimateNoSeperator").val();
                    var digits = $("#txtEstimateNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtEstimateNoExample").val(result);
        });

        $('#txtOrderPrefix').on('inputchange', function() {
                   var prefix = $("#txtOrderPrefix").val();
                    var seperator = $("#txtOrdNoSeperator").val();
                    var digits = $("#txtOrdNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtOrdNoExample").val(result);
        });
        $('#txtOrdNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtOrderPrefix").val();
                    var seperator = $("#txtOrdNoSeperator").val();
                    var digits = $("#txtOrdNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtOrdNoExample").val(result);
        });
        $('#txtOrdNoDigits').on('inputchange', function() {
                   var prefix = $("#txtOrderPrefix").val();
                    var seperator = $("#txtOrdNoSeperator").val();
                    var digits = $("#txtOrdNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtOrdNoExample").val(result);
        });

        $(document).ready(function() {
            $('#qbStatus').click(function() {
            if ($(this).is(':checked')) $("#divSettings").css("display", "block");
            else $("#divSettings").css("display", "none");
          });
        });
    </script>
    <script type="text/javascript">
         $(window).on('load', function() {
         $('#mdlNewUnit').modal({backdrop: 'static', keyboard: false});
         $('#mdlEditUnit').modal({backdrop: 'static', keyboard: false});
        });
    </script>
}