<div class="row">
    <div class="col-12 col-lg-10 mx-auto">

        <div class="card">
            <div class="card-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#tbOfflinePaymentMethod" role="tab">Offline Payment Method</a>
                    </li>                    
                </ul>
            </div><!--end card-body-->
            <div class="card-body pt-0">
                <!-- Tab panes -->
                <div class="tab-content">
 

                    <div class="tab-pane active show" id="tbOfflinePaymentMethod" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Offline Payment Method</h4>
                                    </div><!--end col-->
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-OfflinePaymentMethod-modal">Offline Payment Method </button>
                                    </div><!--end col-->
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>#</th>
                                                <th>Method</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr><!--end tr-->
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Cash</td>
                                                <td>USD</td>
                                                <td>Active</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditOfflinePayment-modal"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>2</td>
                                                <td>Cheque</td>
                                                <td>USD</td>
                                                <td>Active</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditOfflinePayment-modal"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div><!--end card-body-->
                        </div>
                    </div>

                    <!--  Modal content for New Offline Payment Method -->
                    <div class="modal fade bs-OfflinePaymentMethod-modal" tabindex="-1" role="dialog" aria-labelledby="myOfflinePaymentMethodModal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myOfflinePaymentMethodModal">New Payment Method</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label class="mb-3" for="OffPayMethod">Method</label>
                                                    <input type="text" class="form-control" id="PaymentName" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label class="mb-3">Description</label>
                                                <textarea class="form-control" rows="5" id="txtDescription"></textarea>
                                            </div>
                                        </div><!--end row-->

                                        <div class="row">
                                            <div class="col-md-12 text-end">
                                                <button type="button" class="btn btn-sm btn-de-primary">Save</button>
                                                <button type="button" class="btn btn-sm btn-de-danger">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                   
                </div>
            </div><!--end card-body-->
        </div><!--end card-->

        <!--  Modal content for Edit Offline Payment Method -->
        <div class="modal fade bs-EditOfflinePayment-modal" tabindex="-1" role="dialog" aria-labelledby="myEditOfflinePaymentMethodModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myEditOfflinePaymentMethodModal">Edit Payment Method</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        <label class="mb-3" for="OffPayMethod">Method</label>
                                        <input type="text" class="form-control" id="PaymentName" required="">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label class="mb-3">Description</label>
                                    <textarea class="form-control" rows="5" id="txtDescription"></textarea>
                                </div>
                            </div><!--end row-->

                            <div class="row">
                                <div class="col-md-12 text-end">
                                    <button type="button" class="btn btn-sm btn-de-primary">Save</button>
                                    <button type="button" class="btn btn-sm btn-de-danger">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div><!--end card-body-->
       

