@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles{
    #map img:not(:first-of-type){display: none}
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h4 class="card-title">Business Location</h4>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-animation="bounce" data-bs-target="#BAddress">
                            <i class="fas fa-plus me-2"></i>Add Location
                        </button>
                    </div>
                </div>
                
            </div><!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col=md-12 ">
                       
                        <div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="BAddressLabel">Business Location Setup</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >
                                                        Country
                                                        
                                                    </label>
                                                   
                                                        <select id="countryDropdown" class="form-select mt-2">
                                                            <option selected>--</option>
                                                            <option>India</option>
                                                            <option>Nepal</option>
                                                            <option>Sri Lanka</option>
                                                            <option>Russia</option>
                                                        </select>
                                                   
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >
                                                        Location
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                   
                                                        <input class="form-control mt-2" type="text" placeholder="e.g.,New York,Chennai" id="example-text-input">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >
                                                        Tax Name

                                                    </label>

                                                    <input class="form-control mt-2" type="text" placeholder=" Tax Name" id="example-text-input">
                                                   
                                                </div>
                                            </div>
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="tax" >
                                                        Tax

                                                    </label>
                                                   
                                                        <input class="form-control mt-2" type="email" placeholder="Enter Tax Number" id="tax">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="address" >
                                                        Address
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>

                                                    <textarea class="form-control mt-2" type="text" rows="3" placeholder="e.g. 132, My Street, Kingston, New York 12401" id="address"></textarea>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="latitude" >
                                                        Latitude

                                                    </label>
                                                    
                                                        <input class="form-control mt-2" type="text" placeholder="e.g. 38.895" value="" name="latitude" id="latitude">
                                                   
                                                </div>
                                            </div>
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="longitude" >
                                                        Longitude

                                                    </label>

                                                    <input class="form-control mt-2" type="text" placeholder="e.g. -77.0364" value="" name="longitude" id="longitude">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div id="map" style="width: 100%; height: 400px;"></div>
                                            </div>
                                        </div>
                                        <div class="card-footer  border-top">
                                            <div class="row mt-2 text-end ">
                                                <div class="col-lg-12 ">
                                                    <button type="button" class="btn btn-primary "><i class="mdi mdi-check-all me-2 "></i>Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end modal-body-->
                                    
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Location</th>
                                <th>Address</th>
                                <th>Country</th>
                                <th>Tax Name</th>
                                <th>Default</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>New Delhi</td>
                                <td>124,Ninja Street</td>
                                <td>India</td>
                                <td>GST</td>
                                <td>Yes</td>
                                <td>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Chennei</td>
                                <td>457,OMR Road</td>
                                <td>India</td>
                                <td>Sales</td>
                                <td>Yes</td>
                                <td>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr> 
                            <tr>
                                <td>3</td>
                                <td>Kolkata</td>
                                <td>56,Hawra Bypass </td>
                                <td>India</td>
                                <td>Road</td>
                                <td>Yes</td>
                                <td>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
        var map_parameters = { center: {lat: 47.490, lng: -117.585}, zoom: 8 };
        var map = new google.maps.Map(document.getElementById('map'), map_parameters);
    </script>
}



