@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="card-title">Company Settings</h4>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BAddress"><i class="fas fa-plus"></i> Add Company</button>
                    </div>
                </div>
            </div><!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col=md-12 text-md-end">
                       
                        <div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="BAddressLabel">Add New Company</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >
                                                         Name
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                   
                                                        <input class="form-control" type="text" value="" id="example-text-input">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >
                                                         Email
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    
                                                        <input class="form-control" type="email" value="" id="example-text-input">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Phone
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>

                                                    <input class="form-control" type="tel" value="" id="example-text-input">

                                                </div>
                                            </div>
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Descrption
                                                    </label>

                                                    <input class="form-control" type="text" value="" id="example-text-input">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Website
                                                    </label>

                                                    <input class="form-control" type="url" value="" id="example-text-input">

                                                </div>
                                            </div>
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >
                                                         Established Year
                                                    </label>
                                                    
                                                        <input class="form-control" type="date" value="" id="example-text-input">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >Business Type</label>
                                                    
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option value="" selected>Select Type</option>
                                                            <option value="1">Personal Use of Freelance</option>
                                                            <option value="2">Business</option>
                                                            <option value="3">Non-Governmental Organization</option>
                                                        </select>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-lg-6 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input" >Category</label>
                                                   
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option value="" selected="">Select Category</option>
                                                            <option value="1">Real Estate Management &amp; Development</option>
                                                            <option value="2">Equity Real Estate Investment Trusts</option>
                                                            <option value="3">Utilities</option>
                                                            <option value="4">Media &amp; Entertainment</option>
                                                            <option value="5">Telecommunication Services</option>
                                                            <option value="6">Technology Hardware &amp; Equipment</option>
                                                            <option value="7">Software &amp; Services</option>
                                                            <option value="8">Insurance</option>
                                                            <option value="9">Financial Services</option>
                                                            <option value="10">Pharmaceuticals, Biotechnology &amp; Life Sciences</option>
                                                            <option value="11">Health Care Equipment &amp; Services</option>
                                                            <option value="12">Household &amp; Personal Products</option>
                                                            <option value="13">Food, Beverage &amp; Tobacco</option>
                                                            <option value="14">Consumer Staples Distribution &amp; Retail</option>
                                                            <option value="15">Consumer Services</option>
                                                            <option value="16">Consumer Durables &amp; Apparel</option>
                                                            <option value="17">Automobiles &amp; Components</option>
                                                            <option value="18">Transportation</option>
                                                            <option value="19">Commercial &amp; Professional Services</option>
                                                            <option value="20">Capital Goods</option>
                                                            <option value="21">Materials</option>
                                                            <option value="22">Energy</option>
                                                        </select>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end card-body-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-de-danger btn-sm" data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-de-primary btn-sm" type="button">Save</button>
                                    </div><!--end modal-footer-->
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Website</th>
                                <th>Business Type</th>
                                <th>Category</th>
                                <th>EstablishedYear</th>
                                <th>IsVerfied</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>New Company</td>
                                <td>Company Description</td>
                                <td>into@email.com</td>
                                <td>866845</td>
                                <td>https://www.google.com</td>
                                <td>Bussiness</td>
                                <td>Software&Service</td>
                                <td>1999</td>
                                <td>true</td>
                                <td>
                                    <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div>
    </div>
</div>

