@section Scripts {
    <script type="text/javascript">
        $('#prefix').on('change paste keyup', function () {
            var prefix = $("#prefix").val();
            var seperator = $("#separator").val();
            var digits = $("#digits").val();
            var n = "1"; if (digits == "" || digits == "0") { n = ""; }
            digits = n.padStart(digits, '0');
            var result = prefix + seperator + digits;
            $("#output").val(result);
        });
        $('#separator').on('change paste keyup', function () {
            var prefix = $("#prefix").val();
            var seperator = $("#separator").val();
            var digits = $("#digits").val();
            var n = "1"; if (digits == "" || digits == "0") { n = ""; }
            digits = n.padStart(digits, '0');
            var result = prefix + seperator + digits;
            $("#output").val(result);
        });
        $('#digits').on('change paste keyup', function () {
            var prefix = $("#prefix").val();
            var seperator = $("#separator").val();
            var digits = $("#digits").val();
            var n = "1"; if (digits == "" || digits == "0") { n = ""; }
            digits = n.padStart(digits, '0');
            var result = prefix + seperator + digits;
            $("#output").val(result);
        });
    </script>
}
<div class="card">
    <div class="card-header">
        <h4>Contract Settings</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 g-2">
                <div class="mb-3 text-start">
                    <label for="prefix">
                        Contract Prefix
                        <span class="f-14 mr-1 text-danger">*</span>
                    </label>


                    <input class="form-control" type="text" placeholder="" value="" id="prefix" >
                        
                    
                </div>
            </div>
            <div class="col-lg-3 g-2">
                <div class="mb-3 text-start">
                    <label for="separator">
                        Contract Number Separator
                        
                    </label>

                    <input class="form-control" type="text" placeholder="" value="" id="separator" >
                   
                </div>
            </div>
       
            <div class="col-md-3 g-2">
                <div class="mb-3 text-start">
                    <label for="digits">
                        Contract Number Digits
                        
                    </label>


                    <input class="form-control" type="number" placeholder="" value="" id="digits" >
                        
                   
                </div>
            </div>
            <div class="col-lg-3 g-2">
                <div class="mb-3 text-start">
                    <label for="output">
                        Contract Number Example
                        
                    </label>

                    <input class="form-control" type="text" placeholder="" value="" id="output" disabled>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary "><i class="mdi mdi-check-all me-2"></i>Save</button>
    </div>
</div>

