@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles{

}
<div class="card">
    <div class="card-header align-items-center">
        <h4 class="header-title mt-2">Contract Index</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 g-2">
                <div class="mb-3 text-start">
                    <label for="prefix">
                        Contract Prefix
                        <span class="f-14 mr-1 text-danger">*</span>
                    </label>


                    <input class="form-control mt-2" type="text" placeholder="" value="CONT" id="ContractPrefix"  >
                        
                    
                </div>
            </div>
            <div class="col-lg-3 g-2">
                <div class="mb-3 text-start">
                    <label for="separator">
                        Contract Number Separator
                        
                    </label>

                    <input class="form-control mt-2" type="text" placeholder="" value="#" id="ContractSeperator"  >
                   
                </div>
            </div>
       
            <div class="col-md-3 g-2">
                <div class="mb-3 text-start">
                    <label for="digits">
                        Contract Number Digits
                        
                    </label>


                    <input class="form-control mt-2" type="number" placeholder="" value="2" name="ContractExample" id="ContractDigits">
                        
                   
                </div>
            </div>
            <div class="col-lg-3 g-2">
                <div class="mb-3 text-start">
                    <label for="output">
                        Contract Number Example
                        
                    </label>

                    <input class="form-control mt-2" type="text" placeholder="" value="CONT#01" id="ContractExample" name="ContractExample" disabled>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row mt-2 text-end ">
            <div class="col-lg-12 ">
                <button type="button" class="btn btn-de-primary"><i class="mdi mdi-check-all me-2 "></i>Update</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {


<script>
      $.event.special.inputchange = {
        setup: function() {
            var self = this, val;
            $.data(this, 'timer', window.setInterval(function() {
                val = self.value;
                if ( $.data( self, 'cache') != val ) {
                    $.data( self, 'cache', val );
                    $( self ).trigger( 'inputchange' );
                }
            }, 20));
        },
        teardown: function() {
            window.clearInterval( $.data(this, 'timer') );
        },
        add: function() {
            $.data(this, 'cache', this.value);
        }
    };


        $('#ContractPrefix').on('inputchange', function() {
                   var prefix = $("#ContractPrefix").val();
                    var seperator = $("#ContractSeperator").val();
                    var digits = $("#ContractDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#ContractExample").val(result);
        });
        $('#ContractSeperator').on('inputchange', function() {
                   var prefix = $("#ContractPrefix").val();
                    var seperator = $("#ContractSeperator").val();
                    var digits = $("#ContractDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#ContractExample").val(result);
        });
        $('#ContractDigits').on('inputchange', function() {
                   var prefix = $("#ContractPrefix").val();
                    var seperator = $("#ContractSeperator").val();
                    var digits = $("#ContractDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#ContractExample").val(result);
        });
</script>

        }