@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class="card-header">
        <h4>Contract Settings</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 g-2">
                <div class="mb-3 text-start">
                    <label for="contpre" >
                        Contract Prefix
                        <span class="f-14 mr-1 text-danger">*</span>
                    </label>
                    
                       
                        <input class="form-control" type="text" placeholder="" value="CONT" id="contpre">
                        
                    
                </div>
            </div>
            <div class="col-lg-3 g-2">
                <div class="mb-3 text-start">
                    <label for="contnumseparater" >
                        Contract Number Separator
                        
                    </label>
                   
                        <input class="form-control" type="text" placeholder="" value="#" id="contnumseparater">
                   
                </div>
            </div>
       
            <div class="col-md-3 g-2">
                <div class="mb-3 text-start">
                    <label for="contnumdig" >
                        Contract Number Digits
                        
                    </label>
                    
                        
                        <input class="form-control" type="number" placeholder="" value="3" id="contnumdig">
                        
                   
                </div>
            </div>
            <div class="col-lg-3 g-2">
                <div class="mb-3 text-start">
                    <label for="contnumex" >
                        Contract Number Example
                        
                    </label>
                    
                        <input class="form-control" type="text" placeholder="" value="CONT#001" id="contnumex" disabled>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary "><i class="mdi mdi-check-all me-2"></i>Save</button>
    </div>
</div>