@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="card-title">Role Settings</h4>
                    </div>
                    <div class="col-lg-6 text-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BAddress"><i class="fas fa-plus"></i> Add Role</button>
                    </div>
                </div>
            </div><!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col=md-12 text-md-end">

                        <div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="BAddressLabel">Add Role</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Role Name <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <input class="form-control mt-2" type="text" value="" id="example-text-input">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Company Name
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <select class="form-select mt-2" aria-label="Default select example">
                                                        <option value="" selected>--</option>
                                                        <option value="1">Meta</option>
                                                        <option value="2">Apple</option>
                                                        <option value="3">Microsoft</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Department Name
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <select class="form-select mt-2" aria-label="Default select example">
                                                        <option value="" selected>--</option>
                                                        <option value="1">IT</option>
                                                        <option value="2">Finance</option>
                                                        <option value="3">Sales</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Description
                                                        
                                                    </label>
                                                            <textarea class="form-control mt-2" id="" rows="5"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div><!--end card-body-->
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-lg-12 tsxt-start">
                                                <button type="button" class="btn btn-primary "><i class="mdi mdi-check-all "></i>Save</button>
                                            </div>
                                        </div>
                                    </div><!--end modal-footer-->
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Role Name</th>
                                <th>Company Name</th>
                                <th>Department Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Manager</td>
                                <td>Meta</td>
                                <td>Finance</td>
                                <td>
                                    <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div>
    </div>
</div>

