<div class="row">
    <div class="col-12 col-lg-10 mx-auto">

        <div class="card">
            <div class="card-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active fw-semibold pt-0" data-bs-toggle="tab" href="#tbTicketAgents" role="tab">Ticket Agents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbTicketGroups" role="tab">Ticket Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbTicketTypes" role="tab">Ticket Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbTicketChannel" role="tab">Ticket Channel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold pt-0" data-bs-toggle="tab" href="#tbReplyTemplates" role="tab">Reply Templates</a>
                    </li>
                </ul>
            </div><!--end card-body-->
            <div class="card-body pt-0">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active show" id="tbTicketAgents" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <h4 class="card-title"> Ticket Agent Index</h4>
                                    </div>
                                    <div class="col-lg-6 text-end">
                                        <button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-NewTicket-modal-lg"><i class="fas fa-plus me-2"></i>Add Ticket Agent </button>
                                    </div>
                                </div>

                            </div><!--end card-header-->

                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>Name</th>
                                                <th>Group</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr><!--end tr-->
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Matt Frend</td>
                                                <td>Client</td>
                                                <td>Question</td>
                                                <td>Enabled</td>
                                                <td>
                                                    <a href="#" data-bs-target=".bs-EditTicketAgent-modal-lg" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Donald String</td>
                                                <td>Client</td>
                                                <td>Sales</td>
                                                <td>Enabled</td>
                                                <td>
                                                    <a href="#" data-bs-target=".bs-EditTicketAgent-modal-lg" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->

                                        </tbody>
                                    </table>



                                </div><!--end card-body-->
                            </div>
                        </div>
                    </div>

                    <!--  Modal content for New Ticket Agent -->
                    <div class="modal fade bs-NewTicket-modal-lg" id="Ta" tabindex="-1" role="dialog" aria-labelledby="myNewTicketModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myNewTicketModal">Ticket Agent Setup</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3 row">
                                                    <label class="label">Choose Agents</label>
                                                    <div class="">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>--</option>
                                                            <option value="1">Matt Frend</option>
                                                            <option value="2">Donald String</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3 row">
                                                    <label class=" label ">Assign Groups</label>
                                                    <div class="">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>--</option>
                                                            <option value="1">Client</option>
                                                            <option value="2">Sales</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!--  Modal content for Edit Ticket Agent -->
                    <div class="modal fade bs-EditTicketAgent-modal-lg" id="Eta" tabindex="-1" role="dialog" aria-labelledby="myEditTicketAgent" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myEditTicketAgent">Edit Ticket Agent Details</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3 row">
                                                    <label class="label ">Choose Agents</label>
                                                    <div class="">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option>-- </option>
                                                            <option value="1" selected>Matt Frend</option>
                                                            <option value="2">Donald String</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3 row">
                                                    <label class="label ">Assign Groups</label>
                                                    <div class="">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option>--</option>
                                                            <option value="1" selected>Client</option>
                                                            <option value="2">Sales</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="tab-pane" id="tbTicketGroups" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <h4 class="card-title">Ticket Group Index</h4>
                                    </div>
                                    <div class="col-lg-6 text-end">
                                        <button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-NewTicketGroup-modal-lg"><i class="fas fa-plus me-2"></i>Add Ticket Group </button>
                                    </div>
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr><!--end tr-->
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Client</td>
                                                <td>
                                                    <a href="#" data-bs-target=".bs-EditTicketGroup-modal-lg" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Sales</td>
                                                <td>
                                                    <a href="#" data-bs-target=".bs-EditTicketGroup-modal-lg" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Management</td>
                                                <td>
                                                    <a href="#" data-bs-target=".bs-EditTicketGroup-modal-lg" data-bs-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->

                                        </tbody>
                                    </table>
                                </div>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div>
                    <!--  Modal content for New Ticket Group -->
                    <div class="modal fade bs-NewTicketGroup-modal-lg" id="Tg" tabindex="-1" role="dialog" aria-labelledby="myNewTicketGroupModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myNewTicketGroupModal">Ticket Group setup</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class=" my-2" for="TicketGroupName">Group Name</label>
                                                    <input type="text" class="form-control" id="GroupName" required="">
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!--  Modal content for Edit Ticket Group -->
                    <div class="modal fade bs-EditTicketGroup-modal-lg" id="Etg" tabindex="-1" role="dialog" aria-labelledby="myEditTicketGroupModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myEditTicketGroupModal">Edit Ticket Group Details</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class=" my-2" for="GroupName">Group Name</label>
                                                    <input type="text" class="form-control" id="GroupName" value="Client" required="">
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="tab-pane" id="tbTicketTypes" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Ticket Type Index</h4>
                                    </div><!--end col-->
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-NewTicketType-modal-lg"><i class="fas fa-plus me-2"></i>Add Ticket Type </button>
                                    </div><!--end col-->
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr><!--end tr-->
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Bug</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTicketType-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Code</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTicketType-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Management</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTicketType-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->

                                        </tbody>
                                    </table>
                                </div>
                            </div><!--end card-body-->

                        </div>
                    </div>

                    <!--  Modal content for New Ticket Type -->
                    <div class="modal fade bs-NewTicketType-modal-lg" id="Tt" tabindex="-1" role="dialog" aria-labelledby="myNewTicketTypeModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myNewTicketTypeModal">Ticket Type Setup</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class=" my-2" for="TicketTypeName">Ticket Type</label>
                                                    <input type="text" class="form-control" id="TicketTypeName" required="">
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!--  Modal content for Edit Ticket Type -->
                    <div class="modal fade bs-EditTicketType-modal-lg" id="Ett" tabindex="-1" role="dialog" aria-labelledby="myEditTicketTypeModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myEditTicketTypeModal">Edit Ticket Type Details</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class=" my-2" for="EditTicketTypeName">Ticket Type</label>
                                                    <input type="text" class="form-control" id="EditTicketTypeName" value="Bug" required="">
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    <div class="tab-pane" id="tbTicketChannel" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Ticket Channel Index</h4>
                                    </div><!--end col-->
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-NewTicketChannel-modal-lg"><i class="fas fa-plus me-2"></i>Add Ticket Channel </button>
                                    </div><!--end col-->
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr><!--end tr-->
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Bug</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTicketChannel-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Code</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTicketChannel-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Management</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTicketChannel-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->

                                        </tbody>
                                    </table>
                                </div>
                            </div><!--end card-body-->
                        </div>
                    </div>

                    <!--  Modal content for New Ticket Channel -->
                    <div class="modal fade bs-NewTicketChannel-modal-lg" id="Tc" tabindex="-1" role="dialog" aria-labelledby="myNewTicketChannelModal" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myNewTicketChannelModal">Ticket Channel Setup</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class=" my-2" for="TicketChannelName">Ticket Channel</label>
                                                    <input type="text" class="form-control" id="TicketChannelName" required="">
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!--  Modal content for Edit Ticket Channel -->
                    <div class="modal fade bs-EditTicketChannel-modal-lg" id="Etc" tabindex="-1" role="dialog" aria-labelledby="myEditTicketChannelModal" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myEditTicketChannelModal">Edit Ticket Channel Details</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class=" my-2" for="EditTicketChannelName">Ticket Channel</label>
                                                    <input type="text" class="form-control" id="EditTicketChannelName" value="Bug" required="">
                                                </div>
                                            </div>

                                        </div><!--end row-->


                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


                    <div class="tab-pane" id="tbReplyTemplates" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="card-title">Replay Template Index</h4>
                                    </div><!--end col-->
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-de-primary" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-NewTemplate-modal-lg"><i class="fas fa-plus me-2"></i>Add Template </button>
                                    </div><!--end col-->
                                </div>  <!--end row-->
                            </div><!--end card-header-->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr><!--end tr-->
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>Bug</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTemplate-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Code</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTemplate-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                            <tr>
                                                <td>Management</td>
                                                <td>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".bs-EditTemplate-modal-lg" data-toggle="tooltip" data-placement="top" title="Edit"><i class="las la-pen text-secondary font-16"></i></a>
                                                    <a href="#" class="ms-2" onclick="executeExample('warningConfirm')" data-toggle="tooltip" data-placement="top" title="Delete"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->

                                        </tbody>
                                    </table>
                                </div>
                            </div><!--end card-body-->
                        </div>
                    </div>

                    <!--  Modal content for New Ticket Template -->
                    <div class="modal fade bs-NewTemplate-modal-lg" id="Temp" tabindex="-1" role="dialog" aria-labelledby="myNewtemplateModal" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myNewtemplateModal">Replay Template Setup</h5>
                                </div>
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="">
                                                <label class="ticket my-2" for="TicketChannelName">
                                                    Template Heading
                                                    <span class="f-14 mr-1 text-danger">*</span>
                                                </label>
                                                <input type="text" class="form-control" id="TicketChannelName" required="">
                                            </div>
                                        </div>
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-lg-12 g-2">
                                            <div class="mb-3 text-start">
                                                <label for="example-text-input">
                                                    Template Text<span class="f-14 mr-1 text-danger">*</span>
                                                </label>
                                                <textarea class="form-control mt-2" id="" rows="3" placeholder=""></textarea>
                                            </div>
                                        </div>
                                    </div><!--end row-->


                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!--  Modal content for Edit Ticket Template -->
                    <div class="modal fade bs-EditTemplate-modal-lg" id="ETemp" tabindex="-1" role="dialog" aria-labelledby="myEdittemplateModal" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myEdittemplateModal">Edit Replay Template Details</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="">
                                                    <label class=" my-2" for="TicketChannelName">
                                                        Template Heading
                                                        <span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" id="TicketChannelName" value="Bug" required="">
                                                </div>
                                            </div>
                                        </div><!--end row-->
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Template Text<span class="f-14 mr-1 text-danger">*</span>
                                                    </label>
                                                    <textarea class="form-control mt-2" id="" rows="3" placeholder="">Template Details</textarea>
                                                </div>
                                            </div>
                                        </div><!--end row-->

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
                                            <button type="button" class="btn btn-sm btn-de-primary "><i class="mdi mdi-check-all me-2 "></i>Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div><!--end card-body-->
        </div><!--end card-->

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
         $(window).on('load', function() {
         $('#Ta').modal({backdrop: 'static', keyboard: false});
         $('#Eta').modal({backdrop: 'static', keyboard: false});

         $('#Tg').modal({backdrop: 'static', keyboard: false});
         $('#Etg').modal({backdrop: 'static', keyboard: false});

         $('#Tt').modal({backdrop: 'static', keyboard: false});
         $('#Ett').modal({backdrop: 'static', keyboard: false});

         $('#Tc').modal({backdrop: 'static', keyboard: false});
         $('#Etc').modal({backdrop: 'static', keyboard: false});

         $('#ETemp').modal({backdrop: 'static', keyboard: false});
         $('#Temp').modal({backdrop: 'static', keyboard: false});
        });
    </script>
}