
@section Scripts {
    <link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css">
    <link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css">
    <script src="~/matrica/assets/libs/mobius1-selectr/selectr.min.js"></script>
    <script src="~/matrica/assets/js/pages/forms-advanced.js"></script>
}
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="card-title">Notice</h4>
                </div>
                <div class="col-lg-6 text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BAddress"><i class="fas fa-plus"></i> Add Notice</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="row">
                    <div class="col=md-12 text-md-end">
                        <div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="BAddressLabel">Add Notice</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12 mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom" type="checkbox" id="checkb" data-target="textb" value="1" value="1">
                                                            <label class="form-check-label" for="dynamic-checkbox">To Employee</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12 mt-2">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom" type="checkbox" id="checkbox1" data-target="textbox1" value="1" value="1">
                                                            <label class="form-check-label" for="dynamic-checkbox">To Client</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Notice Heading<span class="f-14 mr-1 text-danger">*</span>
                                                    </label>

                                                    <input type="text" class="form-control mt-2" id="inlineFormInputGroupUsername" value="1" placeholder="Username">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="textbox-container" id="textbox1" style="display: none;">
                                                        <label for="example-text-input">
                                                            Client Category
                                                            <span class="f-14 mr-1 text-danger">*</span>
                                                        </label>

                                                        <input class="form-control mt-2" type="number" value="" id="example-text-input">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 mb-3 text-start">
                                                <label for="notes">
                                                    Notice Details
                                                </label>
                                                <textarea id="" aria-hidden="true" class="form-control mt-2" rows="5"></textarea>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <div class="col-sm-12">
                                                        <div class="form-check form-check-inline mt-2">
                                                            <input class="form-check-input dynamic-checkbox form-check-input-custom" type="checkbox" id="checkbox3" data-target="textbox3" value="1">
                                                            <label class="form-check-label" for="dynamic-checkbox">Public Notice</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end card-body-->
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-start">
                                                <button type="button" class="btn btn-primary  "><i class="mdi mdi-check "></i>Save</button>
                                            </div>
                                        </div>
                                    </div><!--end modal-footer-->
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>Notice</th>
                                <th>Date</th>
                                <th>To</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <td>Holiday</td>
                                <td>10-12-2024</td>
                                <td>To Employee</td>
                                <td>
                                    <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div>
        </div>
    </div>
</div>

<script src="~/matrica/assets/libs/tinymce/tinymce.min.js"></script>
<script src="~/matrica/assets/js/pages/form-editor.init.js"></script>
<script>
    tinymce.init({
      selector: 'textarea#txtlead'
    });
    tinymce.init({
      selector: 'textarea#txtedittemplate'
    });
</script>

<script>
       // Get the checkbox element
    const checkbox = document.getElementById("checkbox1");
    // Get the textbox container
    const textboxContainer = document.getElementById("textbox1");

    // Add an event listener for the checkbox
    checkbox.addEventListener("change", () => {
      if (checkbox.checked) {
        // Show the textbox container when checkbox is checked
        textboxContainer.style.display = "block";
      } else {
        // Hide the textbox container when checkbox is unchecked
        textboxContainer.style.display = "none";
      }
    });
</script>