@section Scripts {
    <link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css">
    <script src="~/matrica/assets/libs/mobius1-selectr/selectr.min.js"></script>
    <script src="~/matrica/assets/js/pages/forms-advanced.js"></script>
}
<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="card-title"></h4>
                </div>
                <div class="col-lg-6 text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BAddress"><i class="fas fa-plus"></i> Add Lead</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="row">
                    <div class="col=md-12 text-md-end">
                        <div class="modal fade" id="BAddress" tabindex="-1" aria-labelledby="BAddressLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title m-0" id="BAddressLabel">Add Leads</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body mb-3">
                                        <div class="row">
                                            
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                        <label for="LeaveMonthlyLimit">
                                                            Lead Name
                                                            <span class="f-14 mr-1 text-danger">*</span>
                                                        </label>
                                                        <div class="input-group mt-3">
                                                            <div class="input-group-text p-0 bg-light">
                                                            <select class="form-select" aria-label="Default select example">
                                                                <option value="" selected>--</option>
                                                                <option value="1">Mr</option>
                                                                <option value="2">Mrs</option>
                                                                <option value="3">Miss</option>
                                                                <option value="3">Dr</option>
                                                                <option value="3">Sir</option>
                                                                <option value="3">Madam</option>
                                                            </select>
                                                            </div>
                                                        <input class="form-control" type="text" value="" id="example-text-input">
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Email
                                                       
                                                    </label>

                                                    <input class="form-control mt-3" type="email" value="" id="example-text-input">

                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Choose Agents

                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">--</option>
                                                            <option value="value-2">Agent 1</option>
                                                            <option value="value-3">Agent 2</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                           
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Lead Source
                                                       
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="" selected="">--</option>
                                                            <option value="value-1">Source 1</option>
                                                            <option value="value-2">Source 2</option>
                                                            <option value="value-3">Source 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Lead Category
                                                       
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">Category 1</option>
                                                            <option value="value-2">Category 2</option>
                                                            <option value="value-3">Category 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Lead Value

                                                    </label>
                                                    <div class="input-group mt-3">
                                                        <div class="input-group-text">USD($)</div>
                                                        <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                           
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Allow Follow Up
                                                       
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">Yes</option>
                                                            <option value="value-2">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Status
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">Pending</option>
                                                            <option value="value-2">In Process</option>
                                                            <option value="value-3">Done</option>
                                                            <option value="value-3">In Progress</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Products

                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">Product 1</option>
                                                            <option value="value-2">Product 2</option>
                                                            <option value="value-3">Product 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-lg-12 text-start mb-3">
                                                <label for="notes"class="mb-1">
                                                    Notes
                                                </label>
                                                <textarea class="form-control mt-3" rows="5" aria-hidden="true"></textarea>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-12 text-start">
                                                <h4 class="header-title">Company Details</h4>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Company Name
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <input class="form-control" type="text" value="" id="example-text-input">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Website
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <input class="form-control" type="url" value="" id="example-text-input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Mobile
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <input class="form-control" type="tel" value="" id="example-text-input">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Office Phone Number
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <input class="form-control" type="tel" value="" id="example-text-input">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Country
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">India</option>
                                                            <option value="value-2">Malaysia</option>
                                                            <option value="value-3">Russia</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        State
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">State 1</option>
                                                            <option value="value-2">State 2</option>
                                                            <option value="value-3">State 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        City
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <select id="default" tabindex="-1" class="selectr-hidden defaultSelectr" aria-hidden="true">
                                                            <option value="value-1" selected="">City 1</option>
                                                            <option value="value-2">City 2</option>
                                                            <option value="value-3">City 3</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Postal code
                                                    </label>
                                                    <div class="selectr-container selectr-desktop has-selected mt-3" style="width: 100%;">
                                                        <div class="selectr-options-container">
                                                            <div class="selectr-input-container">
                                                                <input class="selectr-input" tagindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="true" role="textbox" type="search">
                                                                <button class="selectr-input-clear" type="button"></button>
                                                            </div>
                                                            <div class="selectr-notice"></div>
                                                            <ul class="selectr-options" role="tree" aria-hidden="true" aria-expanded="false"></ul>
                                                        </div>
                                                        <input class="form-control" type="number" value="" id="example-text-input">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 g-2">
                                                <div class="mb-3 text-start">
                                                    <label for="example-text-input">
                                                        Address
                                                    </label>
                                                    <textarea id="txtaddress" class="form-control" rows="5" aria-hidden="true"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!--end card-body-->
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-lg-12 text-start">
                                                 <button type="button" class="btn btn-primary"><b><i class="mdi mdi-check-all ms-2"></i>Save</b></button> 
                                               
                                            </div>
                                        </div>
                                    </div><!--end modal-footer-->
                                </div><!--end modal-content-->
                            </div><!--end modal-dialog-->
                        </div><!--end modal-->
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Lead Value</th>
                                <th>Next Follow up</th>
                                <th>Lead Agent</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mr.Bala</td>
                                <td>aba@email.com</td>
                                <td>2342342345</td>
                                <td>$7.00</td>
                                <td>28-11-2024</td>
                                <td>--</td>
                                <td>Agent 1</td>
                                <td>In Process</td>
                                <td>
                                    <a href="#"><i class="las la-pen text-secondary font-16"></i></a>
                                    <a href="#"><i class="las la-trash-alt text-secondary font-16"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div>
        </div>
    </div>
</div>

<script src="~/matrica/assets/libs/tinymce/tinymce.min.js"></script>
<script src="~/matrica/assets/js/pages/form-editor.init.js"></script>

