@section Styles {
    <link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css" />
}
<div class="">
    <div class="row">
        <div class="card">
            <div class="card-header">
                   <h4 class="header-title">
                    Task Settings
                   </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Send Reminder</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 text-start">
                            <label for="before">
                                Send task reminder before X days of due date
                            </label>
                            <input class="form-control" type="number" placeholder="" id="before">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="exchangerate">
                            Send task reminder on the day of due date
                        </label>
                        <div class="col-sm-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="allowce1" value="option1">
                                <label class="form-check-label" for="allowce1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="onlymemcli" value="onlymemcli">
                                <label class="form-check-label" for="onlymemcli">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3 text-start">
                            <label for="after">
                                Send task reminder before X days of due date
                            </label>
                            <input class="form-control" type="number" placeholder="" id="after">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="cposition">
                            Status
                        </label>
                        <select class="form-select" id="cposition" aria-label="Default select example">
                            <option value="1">Completed</option>
                            <option value="2">Doing</option>
                            <option value="3">To Do</option>
                            <option value="4">Incomplete</option>
                        </select>
                    </div> 
                    <div class="col-lg-4">
                        <div class="mb-3 text-start">
                            <label for="length">
                                Taskboard Default Length
                            </label>
                            <input class="form-control" type="number" placeholder="" id="length">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>Section Visible To Client</h4>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Task Category</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Project</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Start Date</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Due Data</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Assined To</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Description</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Label</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Assigned By</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Status</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Priority</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Make Private</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Time Estimate</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Comment</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Add File</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Sub Task</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Timesheet</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Notes</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">History</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Hours Logged</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Custom Fields</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input form-check-input-custom me-2" type="checkbox" id="allowce" value="1">
                            <label class="form-check-label" for="allowce">Copy Tesk Link</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary"><i class="mdi mdi-check-all me-2"></i>Save</button>
            </div>
        </div>
    </div>
</div>