@section Scripts {
    <link href="~/matrica/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css">
    <link href="~/matrica/assets/css/app-custom.css" rel="stylesheet" type="text/css">
    <script src="~/matrica/assets/libs/mobius1-selectr/selectr.min.js"></script>
    <script src="~/matrica/assets/js/pages/forms-advanced.js"></script>
}
<div class="">
    <div class="row">
        <div class="card">
            <div class="card-header align-items-center">
                   <h4 class="header-title mt-2">
                    Task Index
                   </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4>Send Reminder</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 text-start">
                            <label for="before">
                                Send task reminder before X days of due date
                            </label>
                            <input class="form-control mt-2" type="number" placeholder="" id="before">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="exchangerate">
                            Send task reminder on the day of due date
                        </label>
                        <div class="col-sm-6">
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="allowce1" value="option1">
                                <label class="form-check-label" for="allowce1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="onlymemcli" value="onlymemcli">
                                <label class="form-check-label" for="onlymemcli">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3 text-start">
                            <label for="after">
                                Send task reminder before X days of due date
                            </label>
                            <input class="form-control mt-2" type="number" placeholder="" id="after">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label for="cposition">
                            Status
                        </label>
                        <select class="form-select mt-2" id="cposition" aria-label="Default select example">
                            <option value="">--</option>
                            <option value="1">Completed</option>
                            <option value="2">Doing</option>
                            <option value="3">To Do</option>
                            <option value="4">Incomplete</option>
                        </select>
                    </div> 
                    <div class="col-lg-4">
                        <div class="mb-3 text-start">
                            <label for="length">
                                Taskboard Default Length
                            </label>
                            <input class="form-control mt-2" type="number" placeholder="" id="length">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>Section Visible To Client</h4>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskCategory" value="1">
                            <label class="form-check-label mt-1" for="taskCategory">Task Category</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskProject" value="1">
                            <label class="form-check-label mt-1" for="taskProject">Project</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskSD" value="1">
                            <label class="form-check-label mt-1" for="taskSD">Start Date</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskDD" value="1">
                            <label class="form-check-label mt-1" for="taskDD">Due Data</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskAT" value="1">
                            <label class="form-check-label mt-1" for="taskAT">Assined To</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskDesc" value="1">
                            <label class="form-check-label mt-1" for="taskDesc">Description</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskLabel" value="1">
                            <label class="form-check-label mt-1" for="taskLabel">Label</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskAssignedBy" value="1">
                            <label class="form-check-label mt-1" for="taskAssignedBy">Assigned By</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskStatus" value="1">
                            <label class="form-check-label mt-1" for="taskStatus">Status</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskPriority" value="1">
                            <label class="form-check-label mt-1" for="taskPriority">Priority</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskMP" value="1">
                            <label class="form-check-label mt-1" for="taskMP">Make Private</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskTEst" value="1">
                            <label class="form-check-label mt-1" for="taskTEst">Time Estimate</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskComment" value="1">
                            <label class="form-check-label mt-1" for="taskComment">Comment</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskAFile" value="1">
                            <label class="form-check-label mt-1" for="taskAFile">Add File</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskSubTask" value="1">
                            <label class="form-check-label mt-1" for="taskSubTask">Sub Task</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskTimeSheet" value="1">
                            <label class="form-check-label mt-1" for="taskTimeSheet">Timesheet</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskNotes" value="1">
                            <label class="form-check-label mt-1" for="taskNotes">Notes</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskHistory" value="1">
                            <label class="form-check-label mt-1" for="taskHistory">History</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskHL" value="1">
                            <label class="form-check-label mt-1" for="taskHL">Hours Logged</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskCF" value="1">
                            <label class="form-check-label mt-1" for="taskCF">Custom Fields</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input form-check-input-custom me-3" type="checkbox" id="taskCTL" value="1">
                            <label class="form-check-label mt-1" for="taskCTL">Copy Tesk Link</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-12 text-end">
                        <button type="button" class="btn btn-de-primary "><i class="mdi mdi-check-all me-2"></i>Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>